In [2]:
import numpy as np
import pandas as pd
import helpers

# Reading the Data from .csv File

In [3]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('glassdoor_jobs.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Global Technology Transformation Analytics Vic...,Employer Provided Salary:$128K - $190K,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,Financial Services,$10+ billion (USD)
1496,Senior Data Scientist,Employer Provided Salary:$145K,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,Media & Communication,$5 to $25 million (USD)
1497,Remote - Data Scientist,Employer Provided Salary:$79K - $120K,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,Financial Services,$1 to $5 billion (USD)
1498,Market Data Analyst,$53K - $77K (Glassdoor est.),Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
1499,Data Scientist,$94K - $132K (Glassdoor est.),The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,Healthcare,$1 to $5 billion (USD)

# Dropping unnecessary Columns

In [4]:
df.isna().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
dtype: int64

In [5]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [6]:
safe = df
df.drop(axis=1, inplace = True, columns=['Sector'])

In [7]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1495,Global Technology Transformation Analytics Vic...,Employer Provided Salary:$128K - $190K,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1496,Senior Data Scientist,Employer Provided Salary:$145K,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1497,Remote - Data Scientist,Employer Provided Salary:$79K - $120K,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1498,Market Data Analyst,$53K - $77K (Glassdoor est.),Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1499,Data Scientist,$94K - $132K (Glassdoor est.),The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [8]:
df.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Revenue               object
dtype: object

# Giving Columns better Names

In [9]:
df.rename(columns={'Job Title' : 'Title', 'Salary Estimate' : 'Approximate Annual Salary', 'Job Description' : 'Description', 'Rating' : 'Company Rating', 'Size' : 'Number of Employees', 'Type of ownership' : 'Ownership Type', 'Revenue' : 'Company Revenue'}, inplace=True)

In [10]:
df

,Title,Approximate Annual Salary,Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1495,Global Technology Transformation Analytics Vic...,Employer Provided Salary:$128K - $190K,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1496,Senior Data Scientist,Employer Provided Salary:$145K,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1497,Remote - Data Scientist,Employer Provided Salary:$79K - $120K,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1498,Market Data Analyst,$53K - $77K (Glassdoor est.),Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1499,Data Scientist,$94K - $132K (Glassdoor est.),The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [11]:
df.dtypes

Title                         object
Approximate Annual Salary     object
Description                   object
Company Rating               float64
Company Name                  object
Location                      object
Number of Employees           object
Founded                        int64
Ownership Type                object
Industry                      object
Company Revenue               object
dtype: object

# Converting all Salaries to Integers

In [12]:
# Apply the function to each salary entry
numeric_salaries = [int(helpers.extract_salary(entry)) for entry in df['Approximate Annual Salary']]
numeric_salaries

[-1,
 118000,
 102000,
 138500,
 63000,
 32500,
 197500,
 85000,
 120000,
 61500,
 137000,
 110500,
 148500,
 87500,
 46500,
 112000,
 102500,
 138500,
 140000,
 -1,
 145000,
 207500,
 127000,
 135000,
 -1,
 62000,
 25500,
 118000,
 138000,
 115000,
 100000,
 131000,
 162500,
 161000,
 -1,
 -1,
 129500,
 107000,
 110000,
 125500,
 83000,
 20000,
 150000,
 89000,
 89000,
 107500,
 132500,
 107500,
 123000,
 110000,
 -1,
 75500,
 175000,
 108000,
 -1,
 37500,
 103000,
 119000,
 -1,
 106000,
 132500,
 80000,
 111000,
 106000,
 -1,
 -1,
 134500,
 105000,
 69000,
 -1,
 89500,
 123500,
 100000,
 95500,
 142000,
 105500,
 14500,
 -1,
 -1,
 77500,
 75000,
 98500,
 -1,
 14500,
 -1,
 150000,
 115000,
 106000,
 75000,
 80500,
 105000,
 87500,
 233000,
 112500,
 111000,
 115500,
 -1,
 100500,
 85000,
 140000,
 -1,
 160000,
 -1,
 100000,
 100000,
 6000,
 215000,
 95500,
 105000,
 160500,
 142500,
 -1,
 90000,
 -1,
 139500,
 113000,
 22500,
 175000,
 -1,
 112500,
 111000,
 98000,
 115000,
 32500,
 142500,
 98000,
 87000,
 122500,
 88000,
 -1,
 76000,
 25000,
 95500,
 101500,
 164000,
 110500,
 110000,
 -1,
 152500,
 -1,
 162500,
 76500,
 103000,
 101000,
 140000,
 80000,
 165000,
 83500,
 111000,
 109000,
 191000,
 100000,
 68500,
 84000,
 -1,
 99500,
 130000,
 100500,
 94500,
 -1,
 80000,
 107500,
 98500,
 -1,
 138000,
 118500,
 249000,
 -1,
 83000,
 84000,
 -1,
 90000,
 110000,
 112500,
 -1,
 91500,
 37500,
 242500,
 -1,
 153000,
 138500,
 -1,
 174000,
 -1,
 70500,
 -1,
 -1,
 87000,
 160000,
 124500,
 -1,
 259000,
 -1,
 134500,
 -1,
 162000,
 120000,
 20000,
 94000,
 120000,
 111500,
 -1,
 97500,
 114000,
 127000,
 132000,
 128500,
 -1,
 138000,
 -1,
 104500,
 174000,
 104500,
 170500,
 98000,
 130500,
 106500,
 107500,
 138500,
 165000,
 203500,
 -1,
 247000,
 96500,
 124500,
 -1,
 87500,
 170000,
 39000,
 102500,
 119500,
 104000,
 -1,
 224500,
 108000,
 -1,
 175000,
 74500,
 173000,
 110000,
 207500,
 153000,
 154000,
 -1,
 107500,
 139500,
 -1,
 168500,
 -1,
 96500,
 195500,
 117500,
 228000,
 190000,
 114000,
 88500,
 15500,
 -1,
 -1,
 -1,
 -1,
 188500,
 109500,
 194500,
 99000,
 -1,
 105500,
 163000,
 -1,
 25000,
 149000,
 103500,
 185000,
 236500,
 -1,
 185500,
 121500,
 174500,
 119000,
 -1,
 120000,
 -1,
 100000,
 107500,
 116500,
 76000,
 135000,
 94000,
 -1,
 110000,
 190000,
 136000,
 233000,
 150000,
 109000,
 -1,
 165000,
 167500,
 90500,
 85000,
 132500,
 -1,
 107500,
 77500,
 -1,
 196000,
 -1,
 205000,
 165000,
 158500,
 125000,
 112000,
 89500,
 103000,
 143000,
 -1,
 166000,
 96500,
 124000,
 166000,
 98500,
 117000,
 118000,
 85500,
 163000,
 146000,
 166000,
 102500,
 -1,
 290000,
 149000,
 100000,
 105000,
 103000,
 262500,
 84000,
 150000,
 174000,
 217000,
 107000,
 136000,
 144000,
 107500,
 101500,
 -1,
 -1,
 109000,
 129000,
 -1,
 108000,
 -1,
 252500,
 118000,
 159000,
 147500,
 153000,
 135000,
 176500,
 -1,
 127000,
 111000,
 107500,
 149000,
 215000,
 117000,
 190000,
 105500,
 122000,
 111500,
 -1,
 -1,
 -1,
 136500,
 197000,
 275000,
 298000,
 111000,
 115000,
 101500,
 185000,
 -1,
 106500,
 118000,
 95000,
 -1,
 101000,
 172500,
 97000,
 -1,
 158000,
 132500,
 -1,
 169000,
 -1,
 198500,
 173000,
 140000,
 167500,
 187500,
 107500,
 -1,
 102500,
 132000,
 -1,
 165000,
 118000,
 165500,
 136000,
 220500,
 -1,
 162000,
 103000,
 138000,
 178000,
 220000,
 146500,
 114000,
 25500,
 -1,
 115000,
 118000,
 182000,
 -1,
 112000,
 192500,
 139000,
 175500,
 60000,
 144500,
 -1,
 102500,
 104000,
 186000,
 -1,
 -1,
 38000,
 138000,
 153000,
 327000,
 110500,
 112500,
 167500,
 117500,
 115000,
 -1,
 -1,
 105500,
 -1,
 -1,
 141000,
 165000,
 107500,
 -1,
 100500,
 158500,
 167500,
 94000,
 193500,
 -1,
 150000,
 130500,
 102500,
 147000,
 147500,
 185500,
 -1,
 -1,
 -1,
 -1,
 130000,
 -1,
 192500,
 -1,
 156500,
 172500,
 159000,
 136000,
 224500,
 167500,
 -1,
 127000,
 100000,
 113000,
 137500,
 150000,
 117500,
 82500,
 147500,
 200500,
 110000,
 -1,
 152000,
 231500,
 124000,
 132500,
 168500,
 158000,
 106500,
 158000,
 107000,
 97000,
 -1,
 -1,
 139500,
 151000,
 137500,
 108500,
 -1,
 125500,
 -1,
 160000,
 -1,
 -1,
 108500,
 121500,
 228500,
 125000,
 185500,
 133500,
 129000,
 116500,
 134000,
 -1,
 110000,
 104000,
 150000,
 -1,
 -1,
 115500,
 149500,
 198000,
 -1,
 -1,
 -1,
 -1,
 96500,
 37500,
 114000,
 159000,
 -1,
 119000,
 252500,
 150000,
 -1,
 224500,
 107500,
 76500,
 164500,
 184500,
 164500,
 80000,
 270500,
 -1,
 134500,
 -1,
 -1,
 -1,
 127000,
 37500,
 180000,
 145500,
 139000,
 100000,
 91000,
 214000,
 133500,
 -1,
 140000,
 126500,
 -1,
 -1,
 -1,
 105500,
 109000,
 106500,
 198500,
 100500,
 170000,
 92000,
 157500,
 -1,
 108500,
 129500,
 204000,
 118000,
 136000,
 96500,
 112500,
 209500,
 -1,
 334500,
 8000,
 107000,
 -1,
 174500,
 118500,
 145000,
 -1,
 -1,
 137500,
 132500,
 107500,
 236500,
 106000,
 134000,
 140000,
 98000,
 140000,
 36500,
 -1,
 103500,
 48000,
 129000,
 -1,
 108500,
 97000,
 96000,
 145500,
 -1,
 137000,
 61500,
 116000,
 -1,
 118500,
 -1,
 137000,
 124500,
 107000,
 102500,
 145500,
 111000,
 -1,
 85000,
 -1,
 126000,
 98000,
 123000,
 180000,
 136000,
 224500,
 97500,
 87000,
 146500,
 108000,
 108000,
 30000,
 94500,
 109500,
 73500,
 141000,
 190000,
 68500,
 151000,
 125500,
 128500,
 106000,
 224500,
 110500,
 101000,
 104000,
 140000,
 105000,
 135000,
 30000,
 85500,
 184000,
 159500,
 144000,
 132500,
 101000,
 -1,
 120000,
 178000,
 100000,
 116500,
 107000,
 142000,
 190000,
 133000,
 132000,
 138000,
 79500,
 89000,
 110000,
 132000,
 111000,
 123500,
 -1,
 126500,
 96500,
 107500,
 135500,
 97500,
 90000,
 -1,
 -1,
 90000,
 -1,
 150000,
 100000,
 -1,
 -1,
 108000,
 115500,
 111000,
 -1,
 126500,
 193500,
 -1,
 124500,
 112000,
 105000,
 -1,
 -1,
 160500,
 124000,
 177500,
 220500,
 -1,
 -1,
 -1,
 146000,
 102500,
 222000,
 132000,
 115000,
 118000,
 122000,
 51500,
 -1,
 106000,
 87000,
 76500,
 167000,
 130000,
 63500,
 130000,
 89000,
 102000,
 -1,
 81000,
 123500,
 100000,
 162500,
 -1,
 175500,
 178000,
 118500,
 84000,
 136000,
 111000,
 77500,
 162000,
 126000,
 229500,
 172000,
 133500,
 122500,
 177500,
 120000,
 134500,
 -1,
 212500,
 153000,
 129000,
 102500,
 116000,
 110500,
 100000,
 72500,
 83500,
 -1,
 -1,
 -1,
 147000,
 94000,
 -1,
 146000,
 -1,
 -1,
 132500,
 242500,
 178000,
 158500,
 147500,
 174500,
 125000,
 -1,
 142000,
 93000,
 88000,
 96500,
 156500,
 115000,
 174500,
 131000,
 118000,
 90000,
 150500,
 106000,
 93500,
 113000,
 -1,
 120500,
 104500,
 130000,
 102500,
 -1,
 -1,
 55500,
 111000,
 148500,
 101500,
 -1,
 110000,
 116500,
 -1,
 107500,
 116000,
 110000,
 -1,
 -1,
 -1,
 110000,
 113500,
 88500,
 213000,
 102500,
 114500,
 103000,
 -1,
 103500,
 182500,
 70000,
 12500,
 105000,
 -1,
 123500,
 157000,
 112500,
 140000,
 142500,
 -1,
 143500,
 135000,
 105500,
 -1,
 106500,
 141000,
 111000,
 122000,
 160000,
 93000,
 114500,
 101000,
 107000,
 150000,
 -1,
 132000,
 91000,
 137000,
 -1,
 160000,
 130500,
 117500,
 145500,
 118000,
 -1,
 163000,
 70500,
 132500,
 110000,
 -1,
 -1,
 91500,
 126000,
 102000,
 104000,
 -1,
 83000,
 30000,
 130000,
 -1,
 114500,
 -1,
 125000,
 113000,
 105000,
 -1,
 100000,
 112500,
 35000,
 130500,
 -1,
 -1,
 159000,
 145000,
 99500,
 65000,
 113000,
 132500,
 110000,
 -1,
 -1,
 91500,
 126000,
 102000,
 104000,
 -1,
 83000,
 30000,
 130000,
 -1,
 114500,
 -1,
 125000,
 113000,
 105000,
 102500,
 100000,
 112500,
 35000,
 130500,
 -1,
 -1,
 -1,
 145000,
 99500,
 65000,
 113000,
 132500,
 110000,
 -1,
 -1,
 91500,
 126000,
 102000,
 104000,
 -1,
 -1,
 30000,
 130000,
 -1,
 -1,
 -1,
 125000,
 113000,
 -1,
 105000,
 100000,
 112500,
 35000,
 130500,
 -1,
 -1,
 159000,
 145000,
 99500,
 65000,
 113000,
 132500,
 110000,
 -1,
 -1,
 91500,
 -1,
 102000,
 104000,
 -1,
 83000,
 30000,
 130000,
 -1,
 114500,
 -1,
 125000,
 113000,
 105000,
 102500,
 100000,
 112500,
 35000,
 130500,
 -1,
 -1,
 159000,
 145000,
 99500,
 65000,
 113000,
 132500,
 110000,
 -1,
 -1,
 91500,
 126000,
 102000,
 104000,
 -1,
 83000,
 ...]

In [13]:
df['Approximate Annual Salary'] = numeric_salaries
df

,Title,Approximate Annual Salary,Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1495,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1496,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1497,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1498,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1499,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [14]:
df.rename(columns={'Approximate Annual Salary' : 'Approximate Annual Salary ($ USD)'}, inplace=True)

In [15]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1495,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1496,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1497,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1498,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1499,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

# Dropping all Invalid Rows

In [16]:
invalidRowIndexes = df[df.apply(lambda row: all((row==-1) | (row==-1.0) | (row=='-1') | (row=='-1.0')), axis=1)]
invalidRowIndexes

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
19,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
24,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
54,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
58,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
84,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
1347,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
1348,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
1349,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
1362,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1
1367,-1,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1

In [17]:
safe = df
df.drop(invalidRowIndexes.index, inplace=True)

In [18]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1495,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1496,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1497,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1498,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1499,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [19]:
df.reset_index(drop=True, inplace=True)

In [20]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

# Calculating Average Salary Offered

In [21]:
mask = df[(df['Approximate Annual Salary ($ USD)'] != -1)]
mask['Approximate Annual Salary ($ USD)'] = mask['Approximate Annual Salary ($ USD)'].astype(int)

C:\Users\92334\AppData\Local\Temp\ipykernel_10532\2475551199.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mask['Approximate Annual Salary ($ USD)'] = mask['Approximate Annual Salary ($ USD)'].astype(int)

In [22]:
int(mask['Approximate Annual Salary ($ USD)'].mean())

119171

# Changing all -1 Salaries to 'Not Specified'

In [23]:
mask = (df['Approximate Annual Salary ($ USD)'] == -1)
mask

0        True
1       False
2       False
3       False
4       False
        ...
1388    False
1389    False
1390    False
1391    False
1392    False
Name: Approximate Annual Salary ($ USD), Length: 1393, dtype: bool

In [24]:
df.loc[mask, 'Approximate Annual Salary ($ USD)'] = 'Not Specified'

C:\Users\92334\AppData\Local\Temp\ipykernel_10532\1938839978.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Not Specified' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[mask, 'Approximate Annual Salary ($ USD)'] = 'Not Specified'

In [25]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,-1,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [26]:
df.dtypes

Title                                 object
Approximate Annual Salary ($ USD)     object
Description                           object
Company Rating                       float64
Company Name                          object
Location                              object
Number of Employees                   object
Founded                                int64
Ownership Type                        object
Industry                              object
Company Revenue                       object
dtype: object

# Changing all -1 Foundation Dates to 'Not Specified'

In [27]:
mask = (df['Founded'] == -1)
df.loc[mask, 'Founded'] = 'Not Specified'
df

C:\Users\92334\AppData\Local\Temp\ipykernel_10532\4291960812.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Not Specified' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[mask, 'Founded'] = 'Not Specified'

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,-1.0,S4 Market Data,"Trenton, NJ",Unknown,Not Specified,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

# Changing all -1 Ratings to 'Not Specified'

In [28]:
mask = (df['Company Rating'] == -1.0)
df.loc[mask, 'Company Rating'] = 'Not Specified'
df

C:\Users\92334\AppData\Local\Temp\ipykernel_10532\2995260288.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask, 'Company Rating'] = 'Not Specified'

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Unknown,Not Specified,Company - Private,Information Technology Support Services,Unknown / Non-Applicable
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

# Changing all 'Unknown / Non-Applicable' Company Revenues to 'Not Specified'

In [29]:
mask = (df['Company Revenue'] == 'Unknown / Non-Applicable')
df.loc[mask, 'Company Revenue'] = 'Not Specified'

In [30]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Company - Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Company - Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Company - Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Unknown,Not Specified,Company - Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

# Changing all Ownerships from 'Company - {status}' to '{status}' where status = 'Private' or 'Public'

In [31]:
mask = (df['Ownership Type'] == 'Company - Private')
df.loc[mask, 'Ownership Type'] = 'Private'

mask = (df['Ownership Type'] == 'Company - Public')
df.loc[mask, 'Ownership Type'] = 'Public'

df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Unknown,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [32]:
df['Ownership Type'].value_counts()

Ownership Type
Private                           623
Public                            495
Nonprofit Organization             70
-1                                 70
Hospital                           43
Subsidiary or Business Segment     28
Government                         23
College / University               22
Self-employed                       6
Private Practice / Firm             5
Unknown                             4
Contract                            4
Name: count, dtype: int64

# Changing all Unknown and -1 Ownership Types to 'Not Specified'

In [33]:
mask = (df['Ownership Type'] == '-1')
df.loc[mask, 'Ownership Type'] = 'Not Specified'

mask = (df['Ownership Type'] == 'Unknown')
df.loc[mask, 'Ownership Type'] = 'Not Specified'

df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Unknown,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [34]:
df['Ownership Type'].value_counts()

Ownership Type
Private                           623
Public                            495
Not Specified                      74
Nonprofit Organization             70
Hospital                           43
Subsidiary or Business Segment     28
Government                         23
College / University               22
Self-employed                       6
Private Practice / Firm             5
Contract                            4
Name: count, dtype: int64

# Calculating Best Estimates of Employees

In [35]:
df['Number of Employees'].value_counts()

Number of Employees
10000+ Employees           442
1001 to 5000 Employees     212
51 to 200 Employees        179
1 to 50 Employees          166
201 to 500 Employees       129
Unknown                     98
-1                          74
5001 to 10000 Employees     47
501 to 1000 Employees       46
Name: count, dtype: int64

In [36]:
mask = (df['Number of Employees'] == '-1')
df.loc[mask, 'Number of Employees'] = 'Not Specified'

mask = (df['Number of Employees'] == 'Unknown')
df.loc[mask, 'Number of Employees'] = 'Not Specified'

df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+ Employees,1799,Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",51 to 200 Employees,1994,Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,1001 to 5000 Employees,1999,Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+ Employees,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [37]:
df['Number of Employees'].value_counts()

Number of Employees
10000+ Employees           442
1001 to 5000 Employees     212
51 to 200 Employees        179
Not Specified              172
1 to 50 Employees          166
201 to 500 Employees       129
5001 to 10000 Employees     47
501 to 1000 Employees       46
Name: count, dtype: int64

In [38]:
# Apply the function to each Employee Number entry
nums = [helpers.extract_employeeNumber(entry) for entry in df['Number of Employees']]
nums

[3000,
 '10000+',
 '10000+',
 '10000+',
 3000,
 25,
 '10000+',
 '10000+',
 '10000+',
 3000,
 25,
 350,
 3000,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 750,
 3000,
 '10000+',
 25,
 125,
 'Not Specified',
 '10000+',
 'Not Specified',
 'Not Specified',
 3000,
 125,
 3000,
 125,
 '10000+',
 3000,
 25,
 '10000+',
 750,
 3000,
 7500,
 'Not Specified',
 350,
 125,
 350,
 'Not Specified',
 25,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 3000,
 25,
 25,
 125,
 '10000+',
 'Not Specified',
 '10000+',
 'Not Specified',
 '10000+',
 '10000+',
 125,
 350,
 '10000+',
 3000,
 '10000+',
 7500,
 '10000+',
 'Not Specified',
 'Not Specified',
 '10000+',
 'Not Specified',
 7500,
 '10000+',
 3000,
 350,
 3000,
 125,
 750,
 25,
 '10000+',
 125,
 3000,
 '10000+',
 125,
 25,
 750,
 7500,
 '10000+',
 3000,
 '10000+',
 '10000+',
 3000,
 350,
 25,
 '10000+',
 'Not Specified',
 125,
 '10000+',
 '10000+',
 '10000+',
 125,
 7500,
 350,
 7500,
 3000,
 'Not Specified',
 'Not Specified',
 3000,
 '10000+',
 125,
 25,
 125,
 '10000+',
 '10000+',
 'Not Specified',
 125,
 25,
 3000,
 '10000+',
 7500,
 350,
 3000,
 'Not Specified',
 25,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 3000,
 'Not Specified',
 25,
 '10000+',
 125,
 125,
 '10000+',
 'Not Specified',
 750,
 25,
 'Not Specified',
 25,
 7500,
 '10000+',
 '10000+',
 125,
 '10000+',
 '10000+',
 '10000+',
 3000,
 '10000+',
 3000,
 350,
 '10000+',
 '10000+',
 3000,
 3000,
 7500,
 3000,
 '10000+',
 '10000+',
 25,
 '10000+',
 350,
 125,
 3000,
 125,
 750,
 3000,
 350,
 125,
 '10000+',
 125,
 '10000+',
 125,
 '10000+',
 25,
 25,
 25,
 25,
 '10000+',
 125,
 3000,
 7500,
 3000,
 3000,
 3000,
 'Not Specified',
 7500,
 350,
 25,
 350,
 '10000+',
 '10000+',
 125,
 '10000+',
 125,
 '10000+',
 '10000+',
 '10000+',
 7500,
 '10000+',
 750,
 350,
 125,
 750,
 '10000+',
 '10000+',
 '10000+',
 25,
 '10000+',
 3000,
 '10000+',
 25,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 3000,
 '10000+',
 3000,
 25,
 750,
 '10000+',
 750,
 3000,
 750,
 'Not Specified',
 3000,
 '10000+',
 125,
 750,
 '10000+',
 25,
 350,
 '10000+',
 25,
 125,
 7500,
 3000,
 '10000+',
 750,
 3000,
 25,
 '10000+',
 '10000+',
 3000,
 25,
 125,
 3000,
 '10000+',
 '10000+',
 7500,
 3000,
 7500,
 '10000+',
 750,
 750,
 '10000+',
 '10000+',
 3000,
 '10000+',
 7500,
 25,
 25,
 3000,
 3000,
 3000,
 '10000+',
 3000,
 7500,
 3000,
 '10000+',
 3000,
 '10000+',
 'Not Specified',
 3000,
 3000,
 3000,
 3000,
 '10000+',
 3000,
 '10000+',
 '10000+',
 125,
 '10000+',
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 'Not Specified',
 '10000+',
 '10000+',
 3000,
 '10000+',
 '10000+',
 25,
 '10000+',
 'Not Specified',
 '10000+',
 350,
 25,
 '10000+',
 750,
 7500,
 350,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 125,
 7500,
 '10000+',
 '10000+',
 '10000+',
 3000,
 750,
 '10000+',
 'Not Specified',
 '10000+',
 3000,
 750,
 '10000+',
 '10000+',
 '10000+',
 350,
 125,
 3000,
 3000,
 '10000+',
 25,
 3000,
 'Not Specified',
 3000,
 125,
 '10000+',
 '10000+',
 '10000+',
 'Not Specified',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 7500,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 25,
 125,
 '10000+',
 7500,
 350,
 '10000+',
 750,
 3000,
 750,
 7500,
 '10000+',
 350,
 '10000+',
 '10000+',
 125,
 '10000+',
 750,
 '10000+',
 125,
 'Not Specified',
 'Not Specified',
 '10000+',
 '10000+',
 125,
 750,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 125,
 350,
 350,
 350,
 350,
 '10000+',
 750,
 750,
 'Not Specified',
 '10000+',
 7500,
 3000,
 '10000+',
 3000,
 350,
 '10000+',
 125,
 350,
 25,
 350,
 750,
 '10000+',
 25,
 '10000+',
 '10000+',
 7500,
 7500,
 3000,
 125,
 350,
 7500,
 'Not Specified',
 '10000+',
 'Not Specified',
 '10000+',
 3000,
 '10000+',
 125,
 25,
 '10000+',
 '10000+',
 125,
 '10000+',
 3000,
 25,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 125,
 '10000+',
 25,
 3000,
 350,
 3000,
 3000,
 25,
 350,
 '10000+',
 350,
 350,
 '10000+',
 125,
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 'Not Specified',
 '10000+',
 '10000+',
 3000,
 25,
 750,
 25,
 125,
 '10000+',
 '10000+',
 350,
 '10000+',
 '10000+',
 7500,
 '10000+',
 '10000+',
 '10000+',
 125,
 '10000+',
 7500,
 '10000+',
 125,
 25,
 7500,
 '10000+',
 750,
 '10000+',
 3000,
 'Not Specified',
 '10000+',
 3000,
 7500,
 '10000+',
 125,
 350,
 '10000+',
 350,
 350,
 3000,
 3000,
 '10000+',
 3000,
 3000,
 125,
 750,
 '10000+',
 3000,
 25,
 '10000+',
 '10000+',
 '10000+',
 125,
 3000,
 3000,
 125,
 '10000+',
 750,
 125,
 '10000+',
 125,
 25,
 3000,
 'Not Specified',
 '10000+',
 3000,
 '10000+',
 750,
 25,
 750,
 7500,
 3000,
 3000,
 350,
 750,
 '10000+',
 'Not Specified',
 125,
 'Not Specified',
 7500,
 '10000+',
 7500,
 '10000+',
 125,
 350,
 '10000+',
 3000,
 125,
 25,
 7500,
 750,
 '10000+',
 '10000+',
 125,
 25,
 125,
 125,
 3000,
 125,
 25,
 25,
 25,
 25,
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 125,
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 'Not Specified',
 25,
 3000,
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 350,
 '10000+',
 '10000+',
 '10000+',
 'Not Specified',
 25,
 3000,
 '10000+',
 125,
 3000,
 'Not Specified',
 125,
 3000,
 125,
 3000,
 '10000+',
 25,
 '10000+',
 'Not Specified',
 350,
 '10000+',
 3000,
 25,
 25,
 3000,
 3000,
 'Not Specified',
 '10000+',
 125,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 'Not Specified',
 125,
 3000,
 7500,
 '10000+',
 '10000+',
 '10000+',
 3000,
 '10000+',
 3000,
 750,
 3000,
 25,
 '10000+',
 3000,
 '10000+',
 '10000+',
 '10000+',
 7500,
 3000,
 750,
 '10000+',
 25,
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 25,
 'Not Specified',
 '10000+',
 3000,
 3000,
 3000,
 125,
 'Not Specified',
 '10000+',
 125,
 '10000+',
 3000,
 350,
 'Not Specified',
 'Not Specified',
 25,
 3000,
 '10000+',
 '10000+',
 '10000+',
 25,
 750,
 '10000+',
 125,
 350,
 '10000+',
 125,
 '10000+',
 '10000+',
 'Not Specified',
 350,
 3000,
 25,
 '10000+',
 750,
 '10000+',
 '10000+',
 'Not Specified',
 25,
 125,
 3000,
 25,
 350,
 3000,
 '10000+',
 125,
 125,
 '10000+',
 '10000+',
 25,
 'Not Specified',
 350,
 '10000+',
 750,
 750,
 'Not Specified',
 350,
 25,
 '10000+',
 350,
 125,
 3000,
 '10000+',
 '10000+',
 'Not Specified',
 '10000+',
 3000,
 3000,
 7500,
 'Not Specified',
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 25,
 '10000+',
 125,
 3000,
 3000,
 7500,
 '10000+',
 '10000+',
 750,
 750,
 '10000+',
 'Not Specified',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 '10000+',
 7500,
 350,
 'Not Specified',
 'Not Specified',
 7500,
 750,
 25,
 'Not Specified',
 125,
 'Not Specified',
 '10000+',
 3000,
 'Not Specified',
 25,
 '10000+',
 'Not Specified',
 '10000+',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 3000,
 '10000+',
 3000,
 '10000+',
 '10000+',
 350,
 750,
 750,
 25,
 125,
 7500,
 750,
 '10000+',
 25,
 3000,
 25,
 '10000+',
 25,
 3000,
 3000,
 25,
 125,
 350,
 'Not Specified',
 3000,
 '10000+',
 25,
 'Not Specified',
 125,
 '10000+',
 750,
 '10000+',
 350,
 '10000+',
 'Not Specified',
 350,
 7500,
 25,
 25,
 125,
 '10000+',
 3000,
 7500,
 25,
 25,
 3000,
 'Not Specified',
 25,
 7500,
 'Not Specified',
 3000,
 7500,
 125,
 125,
 350,
 125,
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 3000,
 '10000+',
 350,
 25,
 125,
 '10000+',
 3000,
 25,
 3000,
 125,
 '10000+',
 3000,
 25,
 3000,
 25,
 25,
 25,
 '10000+',
 3000,
 '10000+',
 7500,
 25,
 3000,
 7500,
 '10000+',
 350,
 125,
 350,
 3000,
 'Not Specified',
 '10000+',
 25,
 350,
 25,
 'Not Specified',
 'Not Specified',
 350,
 '10000+',
 125,
 125,
 25,
 3000,
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 125,
 '10000+',
 125,
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 350,
 125,
 350,
 3000,
 'Not Specified',
 '10000+',
 25,
 350,
 25,
 'Not Specified',
 'Not Specified',
 350,
 '10000+',
 125,
 125,
 25,
 3000,
 25,
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 125,
 125,
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 350,
 125,
 3000,
 'Not Specified',
 '10000+',
 25,
 350,
 'Not Specified',
 'Not Specified',
 350,
 125,
 125,
 25,
 3000,
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 125,
 '10000+',
 125,
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 350,
 125,
 350,
 3000,
 '10000+',
 25,
 350,
 25,
 'Not Specified',
 'Not Specified',
 350,
 '10000+',
 125,
 125,
 25,
 3000,
 25,
 '10000+',
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 125,
 '10000+',
 125,
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 350,
 125,
 350,
 3000,
 'Not Specified',
 '10000+',
 25,
 350,
 25,
 'Not Specified',
 'Not Specified',
 350,
 '10000+',
 125,
 125,
 25,
 3000,
 25,
 '10000+',
 'Not Specified',
 3000,
 '10000+',
 125,
 125,
 3000,
 'Not Specified',
 '10000+',
 350,
 125,
 350,
 3000,
 'Not Specified',
 '10000+',
 25,
 350,
 25,
 'Not Specified',
 350,
 '10000+',
 125,
 125,
 25,
 3000,
 25,
 '10000+',
 '10000+',
 3000,
 '10000+',
 125,
 '10000+',
 125,
 3000,
 'Not Specified',
 '10000+',
 '10000+',
 350,
 ...]

In [39]:
df['Number of Employees'] = nums

In [40]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Number of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+,1982,Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+,1911,Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+,1975,Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",3000,2000,Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+,1799,Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",125,1994,Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [41]:
df.rename(columns={'Number of Employees' : 'Approximate no. of Employees'}, inplace=True)
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+,1982,Public,Computer Hardware Development,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+,1911,Public,Information Technology Support Services,$10+ billion (USD)
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+,1975,Public,Computer Hardware Development,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",3000,2000,Private,Chemical Manufacturing,$10+ billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+,1799,Public,Banking & Lending,$10+ billion (USD)
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",125,1994,Private,Advertising & Public Relations,$5 to $25 million (USD)
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion (USD)
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion (USD)

In [42]:
df['Approximate no. of Employees'].value_counts()

Approximate no. of Employees
10000+           442
3000             212
125              179
Not Specified    172
25               166
350              129
7500              47
750               46
Name: count, dtype: int64

# Cleaning up Company Revenue

In [43]:
df['Company Revenue'].value_counts()

Company Revenue
Not Specified                       517
$10+ billion (USD)                  239
$1 to $5 billion (USD)              159
$5 to $25 million (USD)             120
-1                                   65
$100 to $500 million (USD)           63
$500 million to $1 billion (USD)     61
$5 to $10 billion (USD)              58
$25 to $100 million (USD)            58
Less than $1 million (USD)           31
$1 to $5 million (USD)               22
Name: count, dtype: int64

In [44]:
df['Company Revenue'] = df['Company Revenue'].str.replace(' (USD)', '')

In [45]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+,1982,Public,Computer Hardware Development,$5 to $10 billion
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+,1911,Public,Information Technology Support Services,$10+ billion
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+,1975,Public,Computer Hardware Development,$10+ billion
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",3000,2000,Private,Chemical Manufacturing,$10+ billion
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+,1799,Public,Banking & Lending,$10+ billion
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",125,1994,Private,Advertising & Public Relations,$5 to $25 million
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion

In [46]:
df.rename(columns={'Company Revenue' : 'Company Revenue (USD)'}, inplace=True)

In [47]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue (USD)
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+,1982,Public,Computer Hardware Development,$5 to $10 billion
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+,1911,Public,Information Technology Support Services,$10+ billion
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+,1975,Public,Computer Hardware Development,$10+ billion
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",3000,2000,Private,Chemical Manufacturing,$10+ billion
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+,1799,Public,Banking & Lending,$10+ billion
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",125,1994,Private,Advertising & Public Relations,$5 to $25 million
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion

# Replacing all -1 entries in the dataset with 'Not Specified'

In [48]:
df.replace(-1, 'Not Specified', inplace=True)
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue (USD)
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+,1982,Public,Computer Hardware Development,$5 to $10 billion
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+,1911,Public,Information Technology Support Services,$10+ billion
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+,1975,Public,Computer Hardware Development,$10+ billion
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",3000,2000,Private,Chemical Manufacturing,$10+ billion
...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+,1799,Public,Banking & Lending,$10+ billion
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",125,1994,Private,Advertising & Public Relations,$5 to $25 million
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion

In [49]:
df['Title'].unique()

array(['Data Scientist', '2024 University Graduate - Data Scientist',
       'Data Scientist – Entry Level 2024', 'Data Scientist 2',
       'Entry Level Data Scientist 2023/2024', 'Data Scientist (C)',
       'Senior Data Scientist', 'Data Scientist- CalAIM',
       'Junior Data Scientist',
       'Entry Level - Associate Data Scientist - Commercial',
       'Data Scientist, Analytics', 'Grace Hopper 2023: Data Scientist',
       'Data Scientist - NLP', 'Data Scientist, Product',
       'Data Scientist II',
       'Data Scientist (Omics data analysis (genetics, genomics and proteomics))',
       'Data Scientist, NLP', 'Data Analyst Associate',
       'data scientist - multiple openings',
       'Aspire Program, Early Career -Data Scientist I',
       'Data Scientist - Level 1', 'Data Scientist - BCG X',
       'College Graduate - Data Science (BS/MS)',
       'Jr. Data Scientist, Minerva Analytics',
       'Product Manager, Customer Service',
       'Research Data Science, Future Leaders Graduate Program, US, 2024',
       'Data Scientist Level III', 'Associate Data Scientist',
       'Research and Development Engineer - Co-op - Engineer or Scientist',
       'Environmental Data Scientist I', 'Research Data Analyst',
       'Data Scientist Trainee',
       'Research & Development Engineer Co-op (Associate Scientist)',
       'Junior Data Scientist (Co-op)', 'Data Scientist/Data Analyst',
       'Analytics Scientist', 'Data Scientist I - FP&A and StressTesting',
       'Research & Development Engineer (Associate Scientist) - Full Time Campus',
       'Data Analytics Engineer', 'Data Scientist 1',
       'Machine Learning Data Scientist',
       'Data Scientist (L5), Member Product',
       'Revenue Data Scientist - Industry Solutions',
       'Data Scientist/Salesforce Administrator',
       'Data Scientist Specialist', 'Data Specialist',
       '2024 Co-Op, Data Science and Artificial Intelligence',
       'Data Analytics Manager', 'Data Scientist - Generative AI',
       'Core Tech TPM, Data and ML',
       'Public Notice for Direct Hire (Data Modernization)',
       'DATA SCIENTIST', 'Entry Level - Associate Consultant (Federal)',
       'Data Scientist/Database Administrator',
       'Operations Research Data Scientist', 'Data Analyst, Marketing',
       'Principal Data Scientist',
       'Junior Consultant in Strategy & Data Science - New York',
       'Entry Level Data Science - December 2023 and May 2024 Grads',
       'Data Scientist, Growth and Marketing', 'Data Scientist, Sr',
       'Strategic Customers - Data Scientist',
       'Career Consulting Data Scientist - National - College Program 2024',
       'R&D Engineer Data Scientist Level 1-2', 'Scientist I',
       'Jr Data Scientist', 'Contract - Data Scientist',
       'E-commerce Data Scientist', 'Data Scientist III',
       'Data Mentor (Part-time)', 'Data Scientist, Dependency Planning',
       'Sr Data Scientist',
       'HEALTHCARE DATA SCIENTIST, FCH - ENTERPRISE ANALYTICS',
       'Statistician- Data Scientist III- PCAPP',
       'Data Scientist, Analytics - Ads', 'Customer Success Manager',
       '-1', '073248-Physical Data Scientist',
       'Machine Learning Ops Data Engineer/Software Engineer',
       'Remote Data Scientist', 'Data Scientist, Clinical Analytics',
       'Data Scientist, RegLab',
       'ViiV Healthcare (GSK) US Data Scientist',
       'Senior Data Scientist, Ops Data Platform',
       'Product Data Scientist', 'Data Scientist Analyst - Early Career',
       'Data Scientist - AI/ML', 'Data Scientist II (Remote)',
       'Data Scientist (Data Platforms & Applied Intelligence)',
       'Data Scientist, Tiktok Ads-Vertical Solutions',
       'Quantitative Analyst/Data Scientist',
       'Software Engineer - Data Scientist',
       'Data Scientist, Machine Learning',
       'Principal Data Scientist - Machine Learning',
       'Data Scientist - Machine Learning Ops', 'machine learning',
       'Data Engineer', 'Machine Learning / NLP Data Scientist',
       'Principal Data Scientist, Machine Learning',
       'Sr. Data Scientist (Starlink Product)',
       'Data Scientist (Artificial Intelligence / Machine Learning)',
       'Specialist, Data Scientist',
       'Data Scientist Co-op - Masters Degree',
       'Data Analyst - Measurement', 'Data Scientist/Software Developer',
       'Principal Data Scientist - Customer Growth Marketing',
       'Senior Data Scientist (Product Analytics)',
       'Research Associate Data Scientist - Nursing Research',
       'Senior People Data Scientist', 'Data Scientists Analysts',
       'USA-Data Scientist II (Clinical)',
       'Data Scientist, Sales Insights',
       'Machine Learning Data Scientist - Growth Algorithms',
       'Engineer, Data', 'Senior Data Scientist - Shipping Optimization',
       'DATA ENGINEER', 'Principal Technical Data Scientist',
       'Data Scientist Jr. / Physical Scientist Jr.',
       'Statistician (Data Scientist)',
       'MATERNAL AND CHILD HEALTH DATA SCIENTIST/EPIDEMIOLOGIST',
       'Data Scientist, Analytics & Insights',
       'Data Scientist, Model e Customer Business Systems',
       'Mathematical Statistician or Statistician (Data Scientist)',
       'Senior Data Scientist, AIML, GenAI, NLP, CV',
       'Data Scientist, Infrastructure Foundation',
       'Sr. Data Scientist, Content',
       'Managing Director Data Scientist Engineer',
       'Staff Data Scientist',
       'Data Science Analyst I-Personalized Medicine',
       'Quality Systems Data Scientist (Hybrid or Remote)',
       'Data Engineer - Remote', 'Data Scientist, Product Engagement',
       'Sr Clinical Data Scientist',
       'Data Scientist 2 - Cross Function, Machine Learning & Analytical Data Products - Hybrid - Seattle or Los Angeles',
       'Data Engineer / Data Scientist',
       'Data Scientist - SQL / SAS & Tableau',
       'Innovation - Data Scientist', 'Principal Data Scientist, Shopbop',
       'Data Scientist - Python - AI/ML',
       'College Graduate - Physics (BS/MS)', 'iO Data Scientist',
       'Principal Data Scientist, Applied AI', 'Data Engineer - AI/ML',
       'Staff Data Scientist - Deep Learning',
       'Staff Data Scientist - Search', 'Sr Data Eng',
       'Data Scientist, New Product Introduction',
       'Data Scientist II/III', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Specialist - Pharmaceutical Commercial Excellence',
       'Sr Data Scientist, Risk Data Mining',
       'Senior Data Scientist - Analytics',
       'Data Scientist, AI Expertise',
       'Lead Data Scientist - Engagement & Customer Experience Analytics - Corporate Investment Banking',
       'Senior Data Scientist, Sponsored Products',
       'Staff Data Scientist - Algorithms, Guest Science',
       'Senior Data Scientist ML Engineer',
       'Lead Data Science Analyst (multiple openings) - IHM',
       'Jr. Data Scientist', 'AI/ML - Sr Data Scientist, AI/ML Data',
       'Data Scientist, EDA',
       'Staff Data Scientist-Generative AI and NLP',
       'Distinguished Data Scientist',
       'Lead Data Scientist - TikTok User Growth',
       'Data Scientist-II- Global Services',
       'Senior Data Scientist | Product', 'Data Scientist I',
       'Data Instrument Engineer', 'Data Scientist III (hybrid/remote)',
       'Bayesian Statistician (Data Scientist)',
       'Senior Data Scientist, Machine Learning',
       'Data Scientist (Multiple Levels)',
       'Senior Data Scientist, Operations',
       'Senior Data Scientist - Product Analytics',
       'Data Scientist - Senior',
       'Senior Data Scientist, Experimentation',
       'Senior Data Scientist, Growth', 'Senior Principal Data Scientist',
       'Data Scientist/Senior Data Scientist',
       'Specialist Solutions Architect - Machine Learning (Public Sector)',
       'Senior Data Scientist (Remote)', 'Senior Data Scientist I',
       'Data Scientist(RNAseq,Genomics,Omnics,Machine Learning,data analysis)',
       'Data Scientist / Senior Data Scientist', 'Data Analyst, Senior',
       'Senior Data Scientist, Causal Inference - Marketing Technology (6 - 12 Month Contract)',
       'Data Software Engineer', 'Data Scientist - Hybrid Opportunity',
       'Senior/Principal Data Scientist',
       '2024 Graduate - Data Scientist/Engineer - Decision Systems',
       'Data Scientist (Hybrid)',
       'Senior Data Scientist - Discovery Experiences',
       'GEN AI data scientist / Architect ( Onsite)',
       'Data Scientist Co-Op', 'Bec Dx Jr Data Scientist',
       'Data Scientist - Artificial Intelligence',
       'Senior Data scientist', 'Data Scientist Engineering Modeler',
       'Director, Data Scientist - Biopharma',
       'Bioinformatics Data Scientist',
       'Senior Data Scientist, Seller Experience',
       'Data Scientist/Senior Data Scientist, Metabolomics',
       'Senior Data Scientist - Growth & Lifecycle',
       'Senior Data Scientist/Data Modeler',
       'Senior Data Scientist - NYC', 'Lead Data Scientist',
       'Principal Machine Learning Engineer',
       'Visualization/Data Scientist',
       'Data Scientist - Tiktok Ads, Growth Marketing',
       'Data Scientist/Modeler II', 'Machine Learning / Data Scientist',
       'Senior Data Scientist, Analytics (Communities)',
       'Ecological Modeler/Biodiversity Data Scientist (Remote)',
       'Senior AI/ML Fraud Strategist/ Data Scientist',
       'Data Scientist/Architect/Modeler',
       'Sr. Manager, Data Scientist - Biopharma',
       'Principal Data Scientist, Delivery Technology',
       'Sr. Data Scientist, Reliability Engineering',
       'Senior Data Scientist, AI and Computational Chemistry',
       'Senior Data Scientist, Ads Fraud Protection',
       'Senior Data Scientist - Research (Remote)',
       'Data Scientist - Fraud', 'Senior Data Scientist, Attribution',
       'Data Scientist/Machine Learning/ Artificial Intelligence',
       '(USA) Principal Data Scientist - E2E',
       'Sr. Data Scientist - Machine Learning', 'Sr. Data Scientist',
       'Senior Manager, Data Science', 'Senior Product Manager',
       'Supply Chain Consultant - Sr. Data Scientist',
       'Sr. Data Engineer (Remote)', 'Data Scientist 5',
       'Senior Data Scientist, Delivery',
       'MS Healthcare Data Scientist - Analytics',
       'Principal CoE Data Scientist', 'Master Data Scientist',
       'Data Scientist Postdoc',
       'Principal Bioinformatics Scientist (Cancer Biology)',
       'Sr. Data Scientist (Strategic Insights)',
       'PHD - Data Scientist/Machine Learning Developer - Python/Pyspark',
       'Data Mining Scientist',
       'Senior Data Scientist, Professional Services',
       'Lead Data Scientist - Online Platforms Reinforcement Learning (Remote)',
       'Jr. Engineer, Data Scientist', 'Data Scientist - Data Analytics',
       '(Senior) Scientist, Clinical Development Data Science',
       'Monitoring Evaluation and Learning Manager, Africa Agriculture',
       'Scientist Sr/Pr - Data Scientist',
       'Data Scientist/Developer for Big Data/Machine Learning R&D',
       'Senior Machine Learning Engineer',
       'Senior Data Scientist - Measurement',
       'Machine Learning Scientist (Chemistry)',
       'Sr Dir & Data Scientist - AI & Underwriting Automation',
       'Data Scientist I, Bioinformatics',
       'Data Scientist: Advanced Analytics',
       'Director/TL, Data Science - Biopharma',
       'Technical Lead Data Scientist, Creator',
       'Data Scientist II- Outcomes', 'Senior R&D Data Scientist',
       '073257-Senior Data Analyst - Senior Data Scientist',
       'Sr Data Scientist (Innovation Lab)',
       'Sr. Consultant, Data Scientist', 'Sr. Geospatial Data Scientist',
       'Data Scientist - Associate - Secret Clearance!', 'Data Science',
       'Jr. ORSA / Data Scientist', 'Data Architect / Data Scientist',
       'Data Scientist 2, Menlo Park, CA # 3192',
       'Data Scientist Consultant',
       'Staff Software Engineer | Machine Learning',
       'Senior Data Scientist - Applied AI', 'Data Engineer Analyst',
       'Data Engineer/Data Scientist', 'Senior Health Data Scientist',
       'Sr. Data Scientist, Pricing Algorithms - Remote within 100 miles of Office Location',
       'Data Scientist (Faculty Assistant, Post-Doctoral Associate, or Assistant Research Scholar',
       'Field Data Scientist (Spanish speaking) - IDS2009',
       'Data Scientist, Senior (DS3)',
       'Postdoctoral Fellow/Research Associate/Data Scientist in Cancer Epidemiology Research',
       'Staff Data Scientist, Cash App Compliance',
       'Data Scientist, Customer Identity & Access Management',
       'VIE - Strategic Operations Data Scientist - USA',
       'Behavioral Data Scientist',
       'College Graduate - Computer Engineering - (Bachelors)',
       'Marketing Data Scientist',
       'Data Scientist, Data-Driven Marketing',
       'Senior Data Scientist II', 'Machine Learning Engineer',
       'Biomarker Data Scientist, Associate Director',
       'Senior Associate, Data Scientist', 'Data Scientist 4676',
       'Data Scientist (Open to both U.S. Citizens and Federal Employees)',
       'DATA SCIENTIST III', 'Supply Chain Data Analytics Specialist',
       'Sr. Data Scientist (Data Stewardship)',
       'Interconnection Data Scientist',
       'Senior Data Scientist - Modeling & Optimization',
       'Data Scientist - Augusta Ga',
       'Senior Associate Data Scientist - Marketing Analytics',
       'Sr. Data Scientist II', 'Data Science Manager',
       'Data Scientist / AI Specialist',
       'Cleared Data Scientist (All Levels)', 'AVP Data Scientist',
       'Data Analyst Lead - Data Scientist',
       'Lead Data Scientist, Economy',
       'Staff Data Scientist - Advertising', 'Data Scientist/Developer',
       'Data Scientist / Analyst', 'Sr. Marketing Data Scientist',
       'Data Science Analyst', 'Bioninformatic Scientist',
       'Data Analyst/Data Scientist', 'Data Scientist- Marketing',
       'Data Analyst', 'Financial Business Analyst',
       'Quantitative Analytics Tech Lead - Data Scientist (Hybrid - 3 Days in Office)',
       'Data Scientist Algorithm Developer',
       'Data Scientist, Data Product',
       'Data Scientist/Algorithm Developer', 'Senior Data Analyst',
       'Sleep Medicine Scientist', 'Date Scientist', 'IS Data Consultant',
       'Staff Data Scientist - Marketing', 'Sr. Data Engineer',
       'Data Scientist V Data Science', 'DigiT Data Software Engineer',
       'General Engineer - Data Scientist/Statistician/Mathematician/Methodologist/Computer Scientist',
       'Applied Artificial Intelligence Machine Learning - Sr Associate',
       'Bioinformatics Analyst / Data Scientist',
       'Digital Customer – Machine Learning & Data Lab – Stage',
       'Principal Data Scientist, Professional Services',
       'Senior Staff Data Scientist', 'Sr. Data Scientist - Data Quality',
       'Data Scientist, Data Services - Remote',
       'Data Scientist / Statistician',
       'Quantitative Researcher (Data Scientist)',
       'Statistician/Data Scientist - TS/SCI Required',
       'Data Scientist/SR Data Scientist', 'Data Scientist, All Levels',
       'Senior Data Scientist (Sleep)', 'Supply Chain Data Scientist',
       'Data Scientist Sr',
       'Principal - Artificial intelligence (AI)& ML- Data Scientist - USC & GC',
       'Data Scientist (Direct Hire)',
       'Senior Data Scientist- Data Strategy', 'Data Scientist Senior',
       'Data Science Mentor', 'Data Scientist (Remote)',
       'Sr. Data Analyst', 'Computational Physicist/Data Scientist',
       'Chief Data Scientist',
       'Multi-modal Representation Learning Scientist',
       'Data Scientist/AI Engineer',
       'Short-term trading desk Data Scientist (m/f/t)',
       'Senior Data Scientist, Forecasting', 'Data Engineer, Python',
       'Data Scientist, Natural Language Interfaces',
       'Junior Data Scientist | TS/SCI', 'Data Scientist Position',
       'Senior Data Scientist , Search and Personalization (14498) - United States (Remote)',
       'Research Data Analyst (Scientist)', 'Vitria Data Scientist',
       'IT Data Scientist I-IV', 'Forward Deployed Data Scientist',
       'Data Scientist 3 DS3 (VV) 1034', 'Education Data Scientist',
       'Data Scientist Advanced Development Program',
       'Database Administrator',
       'Data Scientist Machine Learning and Deep Learning',
       'Global Technology Transformation Analytics Vice President',
       'Remote - Data Scientist', 'Market Data Analyst'], dtype=object)

# Creating seperate City & Country columns from Location

In [50]:
df['Location'].value_counts()

Location
Remote               249
New York, NY          43
Herndon, VA           43
Boston, MA            37
San Francisco, CA     34
                    ...
Folsom, CA             1
San Ramon, CA          1
Golden, CO             1
Rahway, NJ             1
Rochester, MN          1
Name: count, Length: 269, dtype: int64

In [51]:
cityCountry = [helpers.extractCityCountry(entry) for entry in df['Location']]
cityCountry

[['Remote', 'Remote'],
 ['San Jose', ' CA'],
 ['Atlanta', ' GA'],
 ['Redmond', ' WA'],
 ['The Woodlands', ' TX'],
 ['Remote', 'Remote'],
 ['Dallas', ' TX'],
 ['Remote', 'Remote'],
 ['Washington', ' DC'],
 ['Los Angeles', ' CA'],
 ['Arizona City', ' AZ'],
 ['Havelock', ' NC'],
 ['San Francisco', ' CA'],
 ['New York', ' NY'],
 ['Atlanta', ' GA'],
 ['California', 'Not Specified'],
 ['Plantation', ' FL'],
 ['Piscataway', ' NJ'],
 ['Remote', 'Remote'],
 ['Washington', ' DC'],
 ['New York', ' NY'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Chapel Hill', ' NC'],
 ['Palo Alto', ' CA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['San Francisco', ' CA'],
 ['San Francisco', ' CA'],
 ['Remote', 'Remote'],
 ['Cupertino', ' CA'],
 ['Remote', 'Remote'],
 ['Austin', ' TX'],
 ['Edgewater Park', ' NJ'],
 ['American Fork', ' UT'],
 ['Norfolk', ' VA'],
 ['Greensboro', ' NC'],
 ['New York', ' NY'],
 ['Point Loma', 'Not Specified'],
 ['Riverside', ' CA'],
 ['Newport News', ' VA'],
 ['Fort Meade', ' MD'],
 ['Sarasota', ' FL'],
 ['Alameda', ' CA'],
 ['Columbus', ' OH'],
 ['United States', 'Not Specified'],
 ['Raleigh', ' NC'],
 ['New York', ' NY'],
 ['Atlanta', ' GA'],
 ['East Orange', ' NJ'],
 ['Annapolis Junction', ' MD'],
 ['Chicago', ' IL'],
 ['Charlottesville', ' VA'],
 ['Santa Clara', ' CA'],
 ['Remote', 'Remote'],
 ['Pittsburgh', ' PA'],
 ['Washington', ' DC'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['San Francisco', ' CA'],
 ['Cerritos', ' CA'],
 ['San Diego', ' CA'],
 ['Remote', 'Remote'],
 ['Collegeville', ' PA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Boulder', ' CO'],
 ['Arlington', ' VA'],
 ['Wilmington', ' DE'],
 ['Mason', ' OH'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Boulder', ' CO'],
 ['Miami', ' FL'],
 ['Rockville', ' MD'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['New York', ' NY'],
 ['United States', 'Not Specified'],
 ['Farmington Hills', ' MI'],
 ['New Haven', ' CT'],
 ['Starkville', ' MS'],
 ['Louisville', ' KY'],
 ['Denver', ' CO'],
 ['Menlo Park', ' CA'],
 ['New York', ' NY'],
 ['Hazelwood', ' MO'],
 ['Dearborn', ' MI'],
 ['San Antonio', ' TX'],
 ['Fremont', ' CA'],
 ['New York', ' NY'],
 ['San Antonio', ' TX'],
 ['Remote', 'Remote'],
 ['Texas', 'Not Specified'],
 ['Mason', ' OH'],
 ['Dover', ' DE'],
 ['Albuquerque', ' NM'],
 ['California', 'Not Specified'],
 ['Milwaukee', ' WI'],
 ['California', 'Not Specified'],
 ['Los Gatos', ' CA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Allentown', ' NJ'],
 ['Remote', 'Remote'],
 ['Battle Creek', ' MI'],
 ['Denver', ' CO'],
 ['Foster City', ' CA'],
 ['New York', ' NY'],
 ['Remote', 'Remote'],
 ['Pittsburgh', ' PA'],
 ['Livonia', ' MI'],
 ['Herndon', ' VA'],
 ['Remote', 'Remote'],
 ['Cambridge', ' MA'],
 ['Palo Alto', ' CA'],
 ['Oak Ridge', ' TN'],
 ['Seattle', ' WA'],
 ['Lititz', ' PA'],
 ['Manhattan', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Spring', ' TX'],
 ['Morton', ' IL'],
 ['Burlingame', ' CA'],
 ['Atlanta', ' GA'],
 ['Atlanta', ' GA'],
 ['Chicago', ' IL'],
 ['Austin', ' TX'],
 ['New York', ' NY'],
 ['Washington', ' DC'],
 ['Hanover', ' MD'],
 ['Fort Gordon', ' GA'],
 ['Bethesda', ' MD'],
 ['New York', ' NY'],
 ['San Francisco', ' CA'],
 ['Remote', 'Remote'],
 ['Ridgefield', ' CT'],
 ['Durham', ' NC'],
 ['Menlo Park', ' CA'],
 ['Dover', ' DE'],
 ['Washington', ' DC'],
 ['New York', ' NY'],
 ['University Park', ' PA'],
 ['Austin', ' TX'],
 ['Palo Alto', ' CA'],
 ['Washington', ' DC'],
 ['Huntsville', ' AL'],
 ['Remote', 'Remote'],
 ['Silver City', ' NM'],
 ['New Haven', ' CT'],
 ['Lake Charles', ' LA'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['Richmond', ' VA'],
 ['Foster City', ' CA'],
 ['United States', 'Not Specified'],
 ['Dallas', ' TX'],
 ['Remote', 'Remote'],
 ['University Park', ' PA'],
 ['Gaithersburg', ' MD'],
 ['Austin', ' TX'],
 ['Dallas', ' TX'],
 ['Iselin', ' NJ'],
 ['Louisville', ' CO'],
 ['San Jose', ' CA'],
 ['Remote', 'Remote'],
 ['Santa Cruz', ' CA'],
 ['Redmond', ' WA'],
 ['Remote', 'Remote'],
 ['Westlake', ' TX'],
 ['Remote', 'Remote'],
 ['Rochester', ' NY'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Fairless Hills', ' PA'],
 ['Remote', 'Remote'],
 ['Titusville', ' NJ'],
 ['Remote', 'Remote'],
 ['New York', ' NY'],
 ['Durham', ' NC'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['Pueblo', ' CO'],
 ['Philadelphia', ' PA'],
 ['Lansing', ' MI'],
 ['New York', ' NY'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['-1', 'Not Specified'],
 ['-1', 'Not Specified'],
 ['Gordon', ' GA'],
 ['Chicago', ' IL'],
 ['Remote', 'Remote'],
 ['Texas', 'Not Specified'],
 ['Kissimmee', ' FL'],
 ['Remote', 'Remote'],
 ['Tampa', ' FL'],
 ['Columbia', ' MD'],
 ['Denver', ' CO'],
 ['South San Francisco', ' CA'],
 ['Rosemont', ' IL'],
 ['New York', ' NY'],
 ['Stanford', ' CA'],
 ['New Haven', ' CT'],
 ['Durham', ' NC'],
 ['San Francisco', ' CA'],
 ['Santa Clara', ' CA'],
 ['Remote', 'Remote'],
 ['San Francisco', ' CA'],
 ['Princeton', ' NJ'],
 ['New York', ' NY'],
 ['Fort Worth', ' TX'],
 ['Colorado Springs', ' CO'],
 ['Fort Washington', ' MD'],
 ['Palo Alto', ' CA'],
 ['Menomonee Falls', ' WI'],
 ['Vancouver', ' WA'],
 ['Lehi', ' UT'],
 ['Boston', ' MA'],
 ['Mountain View', ' CA'],
 ['Cary', ' NC'],
 ['New York', ' NY'],
 ['Washington', ' DC'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['San Francisco', ' CA'],
 ['Redwood City', ' CA'],
 ['Palo Alto', ' CA'],
 ['New Haven', ' CT'],
 ['Naples', ' FL'],
 ['Remote', 'Remote'],
 ['San Diego', ' CA'],
 ['Remote', 'Remote'],
 ['Arizona City', ' AZ'],
 ['Redmond', ' WA'],
 ['Schaumburg', ' IL'],
 ['Seattle', ' WA'],
 ['Hawthorne', ' CA'],
 ['Washington', ' DC'],
 ['Lake Mary', ' FL'],
 ['Austin', ' TX'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['California', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Seattle', ' WA'],
 ['Columbia', ' MD'],
 ['New York', ' NY'],
 ['Irvine', ' CA'],
 ['Plymouth', ' MN'],
 ['Los Angeles', ' CA'],
 ['San Francisco', ' CA'],
 ['Michigan', 'Not Specified'],
 ['Waltham', ' MA'],
 ['Austin', ' TX'],
 ['Rockville', ' MD'],
 ['San Francisco', ' CA'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Houston', ' TX'],
 ['Mountain View', ' CA'],
 ['Bowling Green', ' VA'],
 ['Seattle', ' WA'],
 ['Washington', ' DC'],
 ['Remote', 'Remote'],
 ['Andover', ' MA'],
 ['New Haven', ' CT'],
 ['Rosemont', ' IL'],
 ['Concord', ' NH'],
 ['Englewood Cliffs', ' NJ'],
 ['Austin', ' TX'],
 ['Remote', 'Remote'],
 ['Detroit', ' MI'],
 ['Washington', ' DC'],
 ['Lehi', ' UT'],
 ['San Mateo', ' CA'],
 ['San Francisco', ' CA'],
 ['Detroit', ' MI'],
 ['Remote', 'Remote'],
 ['Stamford', ' CT'],
 ['San Diego', ' CA'],
 ['New York', ' NY'],
 ['Fargo', ' ND'],
 ['Santa Clara', ' CA'],
 ['San Antonio', ' TX'],
 ['New Haven', ' CT'],
 ['Green Bay', ' WI'],
 ['Glendale', ' AZ'],
 ['Rochester', ' MN'],
 ['Remote', 'Remote'],
 ['Redmond', ' WA'],
 ['Maryland', 'Not Specified'],
 ['Austin', ' TX'],
 ['Chicago', ' IL'],
 ['Indianapolis', ' IN'],
 ['Indianapolis', ' IN'],
 ['Remote', 'Remote'],
 ['East Brunswick', ' NJ'],
 ['Los Angeles', ' CA'],
 ['Phoenix', ' AZ'],
 ['McLean', ' VA'],
 ['McLean', ' VA'],
 ['Rockville', ' MD'],
 ['Robbinsville', ' NJ'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Oakland', ' CA'],
 ['Madison', ' WI'],
 ['McLean', ' VA'],
 ['Folsom', ' CA'],
 ['Texas', 'Not Specified'],
 ['San Mateo', ' CA'],
 ['Austin', ' TX'],
 ['Dover', ' DE'],
 ['New Orleans', ' LA'],
 ['San Antonio', ' TX'],
 ['Remote', 'Remote'],
 ['Palo Alto', ' CA'],
 ['Huntsville', ' AL'],
 ['San Ramon', ' CA'],
 ['Remote', 'Remote'],
 ['Kansas City', ' MO'],
 ['United States', 'Not Specified'],
 ['Austin', ' TX'],
 ['New Haven', ' CT'],
 ['Lehi', ' UT'],
 ['United States', 'Not Specified'],
 ['Golden', ' CO'],
 ['Princeton', ' NJ'],
 ['Texas', 'Not Specified'],
 ['Cedar Park', ' TX'],
 ['San Jose', ' CA'],
 ['Cambridge', ' MA'],
 ['Palo Alto', ' CA'],
 ['Boston', ' MA'],
 ['Rahway', ' NJ'],
 ['San Francisco', ' CA'],
 ['Jersey City', ' NJ'],
 ['Remote', 'Remote'],
 ['Santa Monica', ' CA'],
 ['Pittsburgh', ' PA'],
 ['New Haven', ' CT'],
 ['Austin', ' TX'],
 ['San Francisco', ' CA'],
 ['Worcester', ' MA'],
 ['San Francisco', ' CA'],
 ['Spring', ' TX'],
 ['Riverwoods', ' IL'],
 ['San Jose', ' CA'],
 ['Remote', 'Remote'],
 ['Cupertino', ' CA'],
 ['California', 'Not Specified'],
 ['Woburn', ' MA'],
 ['Santa Clara', ' CA'],
 ['Austin', ' TX'],
 ['San Jose', ' CA'],
 ['Monroe', ' WI'],
 ['Liberty Lake', ' WA'],
 ['Charlotte', ' NC'],
 ['New York', ' NY'],
 ['Jacksonville', ' FL'],
 ['San Jose', ' CA'],
 ['New York', ' NY'],
 ['Fort Belvoir', ' VA'],
 ['Columbus', ' OH'],
 ['Mountain View', ' CA'],
 ['Dayton', ' OH'],
 ['Remote', 'Remote'],
 ['Aurora', ' CO'],
 ['Santa Clara', ' CA'],
 ['Santa Ana', ' CA'],
 ['Seattle', ' WA'],
 ['Costa Mesa', ' CA'],
 ['Chillicothe', ' IL'],
 ['Palo Alto', ' CA'],
 ['Palo Alto', ' CA'],
 ['New Haven', ' CT'],
 ['Annapolis Junction', ' MD'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Irvine', ' CA'],
 ['Chantilly', ' VA'],
 ['New York', ' NY'],
 ['Chicago', ' IL'],
 ['United States', 'Not Specified'],
 ['Remote', 'Remote'],
 ['San Diego', ' CA'],
 ['Los Angeles', ' CA'],
 ['Minneapolis', ' MN'],
 ['Mountain View', ' CA'],
 ['Washington', ' DC'],
 ['Remote', 'Remote'],
 ['Raleigh', ' NC'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['-1', 'Not Specified'],
 ['Denver', ' CO'],
 ['Mountain View', ' CA'],
 ['Philadelphia', ' PA'],
 ['Menlo Park', ' CA'],
 ['Oakland', ' CA'],
 ['San Francisco', ' CA'],
 ['San Francisco', ' CA'],
 ['Boston', ' MA'],
 ['Chester', ' NY'],
 ['Bethesda', ' MD'],
 ['South San Francisco', ' CA'],
 ['United States', 'Not Specified'],
 ['-1', 'Not Specified'],
 ['Duarte', ' CA'],
 ['Kissimmee', ' FL'],
 ['Basking Ridge', ' NJ'],
 ['San Mateo', ' CA'],
 ['Plano', ' TX'],
 ['Annapolis Junction', ' MD'],
 ['Remote', 'Remote'],
 ['Schaumburg', ' IL'],
 ['Brea', ' CA'],
 ['United States', 'Not Specified'],
 ['Los Angeles', ' CA'],
 ['New Jersey', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Houston', ' TX'],
 ['Redmond', ' WA'],
 ['New Haven', ' CT'],
 ['Raleigh', ' NC'],
 ['Maryland', 'Not Specified'],
 ['San Diego', ' CA'],
 ['Austin', ' TX'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['Herndon', ' VA'],
 ['Lafayette', ' LA'],
 ['Chapel Hill', ' NC'],
 ['Brooklyn', ' NY'],
 ['South San Francisco', ' CA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['-1', 'Not Specified'],
 ['New York', ' NY'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['Colorado Springs', ' CO'],
 ['Santa Monica', ' CA'],
 ['Waltham', ' MA'],
 ['Mountain View', ' CA'],
 ['Bethesda', ' MD'],
 ['Austin', ' TX'],
 ['Santa Monica', ' CA'],
 ['Iowa City', ' IA'],
 ['Columbus', ' OH'],
 ['Kirkland', ' WA'],
 ['San Francisco', ' CA'],
 ['Hurlburt Field', ' FL'],
 ['Arlington', ' VA'],
 ['Beaverton', ' OR'],
 ['San Jose', ' CA'],
 ['Remote', 'Remote'],
 ['Fort Belvoir', ' VA'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['Illinois', 'Not Specified'],
 ['Wilmington', ' DE'],
 ['Fremont', ' CA'],
 ['Arlington', ' VA'],
 ['Burlington', ' MA'],
 ['San Francisco', ' CA'],
 ['Chesterfield', ' MO'],
 ['Herndon', ' VA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Philadelphia', ' PA'],
 ['Boston', ' MA'],
 ['Charlotte', ' NC'],
 ['Cedar Rapids', ' IA'],
 ['Atlanta', ' GA'],
 ['Bentonville', ' AR'],
 ['Remote', 'Remote'],
 ['Glendale', ' CA'],
 ['San Antonio', ' TX'],
 ['Remote', 'Remote'],
 ['Louisville', ' KY'],
 ['California', 'Not Specified'],
 ['San Francisco', ' CA'],
 ['Dallas', ' TX'],
 ['Remote', 'Remote'],
 ['Reston', ' VA'],
 ['Hazelwood', ' MO'],
 ['Fenton', ' MO'],
 ['Arlington', ' VA'],
 ['Jupiter', ' FL'],
 ['Denver', ' CO'],
 ['Neenah', ' WI'],
 ['Remote', 'Remote'],
 ['Kansas City', ' MO'],
 ['Auburn Hills', ' MI'],
 ['Pleasanton', ' CA'],
 ['Fremont', ' CA'],
 ['Texas', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Arizona', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Linthicum Heights', ' MD'],
 ['Louisville', ' CO'],
 ['Boston', ' MA'],
 ['Durham', ' NC'],
 ['Pennsylvania', 'Not Specified'],
 ['Bowling Green', ' VA'],
 ['San Jose', ' CA'],
 ['Huntsville', ' AL'],
 ['Green Bay', ' WI'],
 ['Mountain View', ' CA'],
 ['New Haven', ' CT'],
 ['Newport News', ' VA'],
 ['New Haven', ' CT'],
 ['Alameda', ' CA'],
 ['San Mateo', ' CA'],
 ['Phoenix', ' AZ'],
 ['San Francisco', ' CA'],
 ['Remote', 'Remote'],
 ['South San Francisco', ' CA'],
 ['Roseland', ' NJ'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Austin', ' TX'],
 ['Mountain View', ' CA'],
 ['Atlanta', ' GA'],
 ['Irvine', ' CA'],
 ['Boston', ' MA'],
 ['Fort Lauderdale', ' FL'],
 ['McLean', ' VA'],
 ['Seattle', ' WA'],
 ['Princeton', ' NJ'],
 ['Remote', 'Remote'],
 ['Boulder', ' CO'],
 ['Dallas', ' TX'],
 ['United States', 'Not Specified'],
 ['Fort Belvoir', ' VA'],
 ['Spring', ' TX'],
 ['Austin', ' TX'],
 ['Herndon', ' VA'],
 ['Seattle', ' WA'],
 ['Salt Lake City', ' UT'],
 ['San Francisco', ' CA'],
 ['California', ' MD'],
 ['South San Francisco', ' CA'],
 ['United States', 'Not Specified'],
 ['Plano', ' TX'],
 ['Menlo Park', ' CA'],
 ['Hartford', ' CT'],
 ['Salt Lake City', ' UT'],
 ['Boston', ' MA'],
 ['Dallas', ' TX'],
 ['San Diego', ' CA'],
 ['New York', ' NY'],
 ['Irving', ' TX'],
 ['San Mateo', ' CA'],
 ['Seattle', ' WA'],
 ['Livonia', ' MI'],
 ['United States', 'Not Specified'],
 ['Boston', ' MA'],
 ['Saint Paul', ' MN'],
 ['Remote', 'Remote'],
 ['Texas', 'Not Specified'],
 ['Beachwood', ' OH'],
 ['New York', ' NY'],
 ['Santa Clara', ' CA'],
 ['New Haven', ' CT'],
 ['San Francisco', ' CA'],
 ['Fort Meade', ' MD'],
 ['San Francisco', ' CA'],
 ['Remote', 'Remote'],
 ['Fort Lauderdale', ' FL'],
 ['Remote', 'Remote'],
 ['Culver City', ' CA'],
 ['Remote', 'Remote'],
 ['Fort Eustis', ' VA'],
 ['Fort Meade', ' MD'],
 ['Riverwoods', ' IL'],
 ['Washington', ' DC'],
 ['Lincolnshire', ' IL'],
 ['Rochester', ' MI'],
 ['Fort Meade', ' MD'],
 ['United States', 'Not Specified'],
 ['San Diego', ' CA'],
 ['Pittsburgh', ' PA'],
 ['Dallas', ' TX'],
 ['Remote', 'Remote'],
 ['McLean', ' VA'],
 ['United States', 'Not Specified'],
 ['Menlo Park', ' CA'],
 ['Salt Lake City', ' UT'],
 ['Remote', 'Remote'],
 ['Des Moines', ' IA'],
 ['Irving', ' TX'],
 ['Pittsburgh', ' PA'],
 ['San Antonio', ' TX'],
 ['Oak Brook', ' IL'],
 ['-1', 'Not Specified'],
 ['Annapolis Junction', ' MD'],
 ['Lincoln', ' NE'],
 ['Newark', ' NJ'],
 ['Sunnyvale', ' CA'],
 ['Ashburn', ' VA'],
 ['Mountain View', ' CA'],
 ['Remote', 'Remote'],
 ['Newport', ' DE'],
 ['Austin', ' TX'],
 ['Richmond', ' VA'],
 ['Hartford', ' CT'],
 ['Dallas', ' TX'],
 ['Richmond', ' VA'],
 ['Dallas', ' TX'],
 ['College Park', ' MD'],
 ['Miami', ' FL'],
 ['Fort Meade', ' MD'],
 ['Baltimore', ' MD'],
 ['San Francisco', ' CA'],
 ['Atlanta', ' GA'],
 ['Houston', ' TX'],
 ['Cambridge', ' MA'],
 ['Mountain View', ' CA'],
 ['Santa Clara', ' CA'],
 ['Detroit', ' MI'],
 ['Mettawa', ' IL'],
 ['New York', ' NY'],
 ['Colorado Springs', ' CO'],
 ['Charlottesville', ' VA'],
 ['Remote', 'Remote'],
 ['Newark', ' NJ'],
 ['Chicago', ' IL'],
 ['San Francisco', ' CA'],
 ['San Francisco', ' CA'],
 ['Bethesda', ' MD'],
 ['Houston', ' TX'],
 ['New Jersey', 'Not Specified'],
 ['Denver', ' CO'],
 ['New York State', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Quantico', ' VA'],
 ['Houma', ' LA'],
 ['Washington', ' DC'],
 ['New York', ' NY'],
 ['San Antonio', ' TX'],
 ['New York', ' NY'],
 ['Chicago', ' IL'],
 ['Danvers', ' MA'],
 ['Hurlburt Field', ' FL'],
 ['Remote', 'Remote'],
 ['Foster City', ' CA'],
 ['Chicago', ' IL'],
 ['Augusta', ' GA'],
 ['McLean', ' VA'],
 ['Naples', ' FL'],
 ['Atlanta', ' GA'],
 ['New Haven', ' CT'],
 ['Santa Clara', ' CA'],
 ['Hampton', ' VA'],
 ['Saint Louis', ' MO'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Austin', ' TX'],
 ['Delaware', 'Not Specified'],
 ['Irving', ' TX'],
 ['Plano', ' TX'],
 ['Remote', 'Remote'],
 ['Austin', ' TX'],
 ['Chantilly', ' VA'],
 ['-1', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['Charlotte', ' NC'],
 ['Remote', 'Remote'],
 ['Westminster', ' CO'],
 ['Chicago', ' IL'],
 ['Atlanta', ' GA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Chicago', ' IL'],
 ['Austin', ' TX'],
 ['San Francisco', ' CA'],
 ['United States', 'Not Specified'],
 ['Lebanon', ' OH'],
 ['-1', 'Not Specified'],
 ['Houston', ' TX'],
 ['Sunnyvale', ' CA'],
 ['Rockville', ' MD'],
 ['Mountain View', ' CA'],
 ['Boston', ' MA'],
 ['Anaheim', ' CA'],
 ['Pittsburgh', ' PA'],
 ['Remote', 'Remote'],
 ['Bentonville', ' AR'],
 ['Reston', ' VA'],
 ['Chicago', ' IL'],
 ['McLean', ' VA'],
 ['Livermore', ' CA'],
 ['Syracuse', ' NY'],
 ['Livermore', ' CA'],
 ['Atlanta', ' GA'],
 ['Cleveland', ' OH'],
 ['San Francisco', ' CA'],
 ['New Orleans', ' LA'],
 ['Camden', ' NJ'],
 ['San Francisco', ' CA'],
 ['Michigan', 'Not Specified'],
 ['Palo Alto', ' CA'],
 ['Downey', ' CA'],
 ['Plymouth', ' MN'],
 ['Suitland', ' MD'],
 ['Chantilly', ' VA'],
 ['Pittsburgh', ' PA'],
 ['Green Bay', ' WI'],
 ['San Diego', ' CA'],
 ['Phoenix', ' AZ'],
 ['Bellevue', ' WA'],
 ['San Bruno', ' CA'],
 ['Salt Lake City', ' UT'],
 ['San Francisco', ' CA'],
 ['Plano', ' TX'],
 ['Chicago', ' IL'],
 ['Raleigh', ' NC'],
 ['Remote', 'Remote'],
 ['San Juan Capistrano', ' CA'],
 ['Newark', ' CA'],
 ['San Francisco', ' CA'],
 ['Annapolis Junction', ' MD'],
 ['Fort Eustis', ' VA'],
 ['Menlo Park', ' CA'],
 ['Monroe', ' OH'],
 ['Aurora', ' CO'],
 ['Paris', ' TX'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Green Bay', ' WI'],
 ['Newark', ' CA'],
 ['Lincoln', ' NE'],
 ['-1', 'Not Specified'],
 ['Portland', ' OR'],
 ['Remote', 'Remote'],
 ['San Francisco', ' CA'],
 ['Santa Clara', ' CA'],
 ['San Jose', ' CA'],
 ['Mountain View', ' CA'],
 ['Maryland', 'Not Specified'],
 ['South San Francisco', ' CA'],
 ['Denver', ' CO'],
 ['San Francisco', ' CA'],
 ['San Jose', ' CA'],
 ['Saint Louis', ' MO'],
 ['Orlando', ' FL'],
 ['Suitland', ' MD'],
 ['Boston', ' MA'],
 ['United States', 'Not Specified'],
 ['United States', 'Not Specified'],
 ['Miami Beach', ' FL'],
 ['Philadelphia', ' PA'],
 ['Olathe', ' KS'],
 ['Seattle', ' WA'],
 ['Richmond', ' VA'],
 ['Springfield', ' VA'],
 ['Reston', ' VA'],
 ['Falls Church', ' VA'],
 ['Pittsburgh', ' PA'],
 ['Duluth', ' GA'],
 ['Phoenix', ' AZ'],
 ['Fort Meade', ' MD'],
 ['-1', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Pittsburgh', ' PA'],
 ['Boston', ' MA'],
 ['Marlborough', ' MA'],
 ['Chantilly', ' VA'],
 ['Libertyville', ' IL'],
 ['Philadelphia', ' PA'],
 ['Fairfax', ' VA'],
 ['Mountain View', ' CA'],
 ['Remote', 'Remote'],
 ['United States', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Washington', ' DC'],
 ['Little Rock', ' AR'],
 ['Fremont', ' CA'],
 ['Reno', ' NV'],
 ['Phoenix', ' AZ'],
 ['Huntsville', ' AL'],
 ['-1', 'Not Specified'],
 ['Portland', ' ME'],
 ['Newark', ' CA'],
 ['Herndon', ' VA'],
 ['Remote', 'Remote'],
 ['Chicago', ' IL'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['Sartell', ' MN'],
 ['San Antonio', ' TX'],
 ['Smithfield', ' RI'],
 ['Seattle', ' WA'],
 ['Arlington', ' VA'],
 ['Remote', 'Remote'],
 ['Reston', ' VA'],
 ['Chesapeake', ' VA'],
 ['Chicago', ' IL'],
 ['Berkeley', ' CA'],
 ['Washington', ' DC'],
 ['Chicago', ' IL'],
 ['San Francisco', ' CA'],
 ['Fort Lauderdale', ' FL'],
 ['Salt Lake City', ' UT'],
 ['Schertz', ' TX'],
 ['Phoenix', ' AZ'],
 ['Gainesville', ' FL'],
 ['Remote', 'Remote'],
 ['Boston', ' MA'],
 ['Springfield', ' VA'],
 ['Minneapolis', ' MN'],
 ['Reston', ' VA'],
 ['West Chester', ' PA'],
 ['Charlotte', ' NC'],
 ['Crystal Lake', ' IL'],
 ['Princeton', ' NJ'],
 ['United States', 'Not Specified'],
 ['Remote', 'Remote'],
 ['Milwaukee', ' WI'],
 ['Santa Clara', ' CA'],
 ['Conshohocken', ' PA'],
 ['Remote', 'Remote'],
 ['Remote', 'Remote'],
 ['Brooklyn', ' OH'],
 ['Mountain View', ' CA'],
 ['Troy', ' MI'],
 ['Secaucus', ' NJ'],
 ['Remote', 'Remote'],

In [52]:
cities = []
country = []

for entry in cityCountry:
    cities.append(entry[0])
    country.append(entry[1])

In [53]:
cities

['Remote',
 'San Jose',
 'Atlanta',
 'Redmond',
 'The Woodlands',
 'Remote',
 'Dallas',
 'Remote',
 'Washington',
 'Los Angeles',
 'Arizona City',
 'Havelock',
 'San Francisco',
 'New York',
 'Atlanta',
 'California',
 'Plantation',
 'Piscataway',
 'Remote',
 'Washington',
 'New York',
 'Remote',
 'Boston',
 'Remote',
 'Remote',
 'Chapel Hill',
 'Palo Alto',
 'Remote',
 'Remote',
 'United States',
 'San Francisco',
 'San Francisco',
 'Remote',
 'Cupertino',
 'Remote',
 'Austin',
 'Edgewater Park',
 'American Fork',
 'Norfolk',
 'Greensboro',
 'New York',
 'Point Loma',
 'Riverside',
 'Newport News',
 'Fort Meade',
 'Sarasota',
 'Alameda',
 'Columbus',
 'United States',
 'Raleigh',
 'New York',
 'Atlanta',
 'East Orange',
 'Annapolis Junction',
 'Chicago',
 'Charlottesville',
 'Santa Clara',
 'Remote',
 'Pittsburgh',
 'Washington',
 'Remote',
 'Remote',
 'San Francisco',
 'Cerritos',
 'San Diego',
 'Remote',
 'Collegeville',
 'Remote',
 'Remote',
 'Boulder',
 'Arlington',
 'Wilmington',
 'Mason',
 'Remote',
 'Remote',
 'Boulder',
 'Miami',
 'Rockville',
 'Remote',
 'Boston',
 'New York',
 'United States',
 'Farmington Hills',
 'New Haven',
 'Starkville',
 'Louisville',
 'Denver',
 'Menlo Park',
 'New York',
 'Hazelwood',
 'Dearborn',
 'San Antonio',
 'Fremont',
 'New York',
 'San Antonio',
 'Remote',
 'Texas',
 'Mason',
 'Dover',
 'Albuquerque',
 'California',
 'Milwaukee',
 'California',
 'Los Gatos',
 'Remote',
 'Remote',
 'Allentown',
 'Remote',
 'Battle Creek',
 'Denver',
 'Foster City',
 'New York',
 'Remote',
 'Pittsburgh',
 'Livonia',
 'Herndon',
 'Remote',
 'Cambridge',
 'Palo Alto',
 'Oak Ridge',
 'Seattle',
 'Lititz',
 'Manhattan',
 'Remote',
 'Spring',
 'Morton',
 'Burlingame',
 'Atlanta',
 'Atlanta',
 'Chicago',
 'Austin',
 'New York',
 'Washington',
 'Hanover',
 'Fort Gordon',
 'Bethesda',
 'New York',
 'San Francisco',
 'Remote',
 'Ridgefield',
 'Durham',
 'Menlo Park',
 'Dover',
 'Washington',
 'New York',
 'University Park',
 'Austin',
 'Palo Alto',
 'Washington',
 'Huntsville',
 'Remote',
 'Silver City',
 'New Haven',
 'Lake Charles',
 'Remote',
 'United States',
 'Richmond',
 'Foster City',
 'United States',
 'Dallas',
 'Remote',
 'University Park',
 'Gaithersburg',
 'Austin',
 'Dallas',
 'Iselin',
 'Louisville',
 'San Jose',
 'Remote',
 'Santa Cruz',
 'Redmond',
 'Remote',
 'Westlake',
 'Remote',
 'Rochester',
 'Remote',
 'Remote',
 'Fairless Hills',
 'Remote',
 'Titusville',
 'Remote',
 'New York',
 'Durham',
 'Remote',
 'United States',
 'Pueblo',
 'Philadelphia',
 'Lansing',
 'New York',
 'Remote',
 'Remote',
 '-1',
 '-1',
 'Gordon',
 'Chicago',
 'Remote',
 'Texas',
 'Kissimmee',
 'Remote',
 'Tampa',
 'Columbia',
 'Denver',
 'South San Francisco',
 'Rosemont',
 'New York',
 'Stanford',
 'New Haven',
 'Durham',
 'San Francisco',
 'Santa Clara',
 'Remote',
 'San Francisco',
 'Princeton',
 'New York',
 'Fort Worth',
 'Colorado Springs',
 'Fort Washington',
 'Palo Alto',
 'Menomonee Falls',
 'Vancouver',
 'Lehi',
 'Boston',
 'Mountain View',
 'Cary',
 'New York',
 'Washington',
 'Remote',
 'United States',
 'San Francisco',
 'Redwood City',
 'Palo Alto',
 'New Haven',
 'Naples',
 'Remote',
 'San Diego',
 'Remote',
 'Arizona City',
 'Redmond',
 'Schaumburg',
 'Seattle',
 'Hawthorne',
 'Washington',
 'Lake Mary',
 'Austin',
 'Remote',
 'Remote',
 'California',
 'Remote',
 'Seattle',
 'Columbia',
 'New York',
 'Irvine',
 'Plymouth',
 'Los Angeles',
 'San Francisco',
 'Michigan',
 'Waltham',
 'Austin',
 'Rockville',
 'San Francisco',
 'Remote',
 'United States',
 'Remote',
 'Houston',
 'Mountain View',
 'Bowling Green',
 'Seattle',
 'Washington',
 'Remote',
 'Andover',
 'New Haven',
 'Rosemont',
 'Concord',
 'Englewood Cliffs',
 'Austin',
 'Remote',
 'Detroit',
 'Washington',
 'Lehi',
 'San Mateo',
 'San Francisco',
 'Detroit',
 'Remote',
 'Stamford',
 'San Diego',
 'New York',
 'Fargo',
 'Santa Clara',
 'San Antonio',
 'New Haven',
 'Green Bay',
 'Glendale',
 'Rochester',
 'Remote',
 'Redmond',
 'Maryland',
 'Austin',
 'Chicago',
 'Indianapolis',
 'Indianapolis',
 'Remote',
 'East Brunswick',
 'Los Angeles',
 'Phoenix',
 'McLean',
 'McLean',
 'Rockville',
 'Robbinsville',
 'Remote',
 'Remote',
 'Oakland',
 'Madison',
 'McLean',
 'Folsom',
 'Texas',
 'San Mateo',
 'Austin',
 'Dover',
 'New Orleans',
 'San Antonio',
 'Remote',
 'Palo Alto',
 'Huntsville',
 'San Ramon',
 'Remote',
 'Kansas City',
 'United States',
 'Austin',
 'New Haven',
 'Lehi',
 'United States',
 'Golden',
 'Princeton',
 'Texas',
 'Cedar Park',
 'San Jose',
 'Cambridge',
 'Palo Alto',
 'Boston',
 'Rahway',
 'San Francisco',
 'Jersey City',
 'Remote',
 'Santa Monica',
 'Pittsburgh',
 'New Haven',
 'Austin',
 'San Francisco',
 'Worcester',
 'San Francisco',
 'Spring',
 'Riverwoods',
 'San Jose',
 'Remote',
 'Cupertino',
 'California',
 'Woburn',
 'Santa Clara',
 'Austin',
 'San Jose',
 'Monroe',
 'Liberty Lake',
 'Charlotte',
 'New York',
 'Jacksonville',
 'San Jose',
 'New York',
 'Fort Belvoir',
 'Columbus',
 'Mountain View',
 'Dayton',
 'Remote',
 'Aurora',
 'Santa Clara',
 'Santa Ana',
 'Seattle',
 'Costa Mesa',
 'Chillicothe',
 'Palo Alto',
 'Palo Alto',
 'New Haven',
 'Annapolis Junction',
 'Remote',
 'Remote',
 'Irvine',
 'Chantilly',
 'New York',
 'Chicago',
 'United States',
 'Remote',
 'San Diego',
 'Los Angeles',
 'Minneapolis',
 'Mountain View',
 'Washington',
 'Remote',
 'Raleigh',
 'Remote',
 'United States',
 '-1',
 'Denver',
 'Mountain View',
 'Philadelphia',
 'Menlo Park',
 'Oakland',
 'San Francisco',
 'San Francisco',
 'Boston',
 'Chester',
 'Bethesda',
 'South San Francisco',
 'United States',
 '-1',
 'Duarte',
 'Kissimmee',
 'Basking Ridge',
 'San Mateo',
 'Plano',
 'Annapolis Junction',
 'Remote',
 'Schaumburg',
 'Brea',
 'United States',
 'Los Angeles',
 'New Jersey',
 'Remote',
 'Houston',
 'Redmond',
 'New Haven',
 'Raleigh',
 'Maryland',
 'San Diego',
 'Austin',
 'Remote',
 'Boston',
 'Herndon',
 'Lafayette',
 'Chapel Hill',
 'Brooklyn',
 'South San Francisco',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 '-1',
 'New York',
 'Remote',
 'Boston',
 'Colorado Springs',
 'Santa Monica',
 'Waltham',
 'Mountain View',
 'Bethesda',
 'Austin',
 'Santa Monica',
 'Iowa City',
 'Columbus',
 'Kirkland',
 'San Francisco',
 'Hurlburt Field',
 'Arlington',
 'Beaverton',
 'San Jose',
 'Remote',
 'Fort Belvoir',
 'Remote',
 'United States',
 'Illinois',
 'Wilmington',
 'Fremont',
 'Arlington',
 'Burlington',
 'San Francisco',
 'Chesterfield',
 'Herndon',
 'Remote',
 'Remote',
 'Philadelphia',
 'Boston',
 'Charlotte',
 'Cedar Rapids',
 'Atlanta',
 'Bentonville',
 'Remote',
 'Glendale',
 'San Antonio',
 'Remote',
 'Louisville',
 'California',
 'San Francisco',
 'Dallas',
 'Remote',
 'Reston',
 'Hazelwood',
 'Fenton',
 'Arlington',
 'Jupiter',
 'Denver',
 'Neenah',
 'Remote',
 'Kansas City',
 'Auburn Hills',
 'Pleasanton',
 'Fremont',
 'Texas',
 'Remote',
 'Arizona',
 'Remote',
 'Linthicum Heights',
 'Louisville',
 'Boston',
 'Durham',
 'Pennsylvania',
 'Bowling Green',
 'San Jose',
 'Huntsville',
 'Green Bay',
 'Mountain View',
 'New Haven',
 'Newport News',
 'New Haven',
 'Alameda',
 'San Mateo',
 'Phoenix',
 'San Francisco',
 'Remote',
 'South San Francisco',
 'Roseland',
 'Remote',
 'Remote',
 'Austin',
 'Mountain View',
 'Atlanta',
 'Irvine',
 'Boston',
 'Fort Lauderdale',
 'McLean',
 'Seattle',
 'Princeton',
 'Remote',
 'Boulder',
 'Dallas',
 'United States',
 'Fort Belvoir',
 'Spring',
 'Austin',
 'Herndon',
 'Seattle',
 'Salt Lake City',
 'San Francisco',
 'California',
 'South San Francisco',
 'United States',
 'Plano',
 'Menlo Park',
 'Hartford',
 'Salt Lake City',
 'Boston',
 'Dallas',
 'San Diego',
 'New York',
 'Irving',
 'San Mateo',
 'Seattle',
 'Livonia',
 'United States',
 'Boston',
 'Saint Paul',
 'Remote',
 'Texas',
 'Beachwood',
 'New York',
 'Santa Clara',
 'New Haven',
 'San Francisco',
 'Fort Meade',
 'San Francisco',
 'Remote',
 'Fort Lauderdale',
 'Remote',
 'Culver City',
 'Remote',
 'Fort Eustis',
 'Fort Meade',
 'Riverwoods',
 'Washington',
 'Lincolnshire',
 'Rochester',
 'Fort Meade',
 'United States',
 'San Diego',
 'Pittsburgh',
 'Dallas',
 'Remote',
 'McLean',
 'United States',
 'Menlo Park',
 'Salt Lake City',
 'Remote',
 'Des Moines',
 'Irving',
 'Pittsburgh',
 'San Antonio',
 'Oak Brook',
 '-1',
 'Annapolis Junction',
 'Lincoln',
 'Newark',
 'Sunnyvale',
 'Ashburn',
 'Mountain View',
 'Remote',
 'Newport',
 'Austin',
 'Richmond',
 'Hartford',
 'Dallas',
 'Richmond',
 'Dallas',
 'College Park',
 'Miami',
 'Fort Meade',
 'Baltimore',
 'San Francisco',
 'Atlanta',
 'Houston',
 'Cambridge',
 'Mountain View',
 'Santa Clara',
 'Detroit',
 'Mettawa',
 'New York',
 'Colorado Springs',
 'Charlottesville',
 'Remote',
 'Newark',
 'Chicago',
 'San Francisco',
 'San Francisco',
 'Bethesda',
 'Houston',
 'New Jersey',
 'Denver',
 'New York State',
 'Remote',
 'Quantico',
 'Houma',
 'Washington',
 'New York',
 'San Antonio',
 'New York',
 'Chicago',
 'Danvers',
 'Hurlburt Field',
 'Remote',
 'Foster City',
 'Chicago',
 'Augusta',
 'McLean',
 'Naples',
 'Atlanta',
 'New Haven',
 'Santa Clara',
 'Hampton',
 'Saint Louis',
 'Remote',
 'Remote',
 'Austin',
 'Delaware',
 'Irving',
 'Plano',
 'Remote',
 'Austin',
 'Chantilly',
 '-1',
 'Remote',
 'Boston',
 'Charlotte',
 'Remote',
 'Westminster',
 'Chicago',
 'Atlanta',
 'Remote',
 'Remote',
 'Chicago',
 'Austin',
 'San Francisco',
 'United States',
 'Lebanon',
 '-1',
 'Houston',
 'Sunnyvale',
 'Rockville',
 'Mountain View',
 'Boston',
 'Anaheim',
 'Pittsburgh',
 'Remote',
 'Bentonville',
 'Reston',
 'Chicago',
 'McLean',
 'Livermore',
 'Syracuse',
 'Livermore',
 'Atlanta',
 'Cleveland',
 'San Francisco',
 'New Orleans',
 'Camden',
 'San Francisco',
 'Michigan',
 'Palo Alto',
 'Downey',
 'Plymouth',
 'Suitland',
 'Chantilly',
 'Pittsburgh',
 'Green Bay',
 'San Diego',
 'Phoenix',
 'Bellevue',
 'San Bruno',
 'Salt Lake City',
 'San Francisco',
 'Plano',
 'Chicago',
 'Raleigh',
 'Remote',
 'San Juan Capistrano',
 'Newark',
 'San Francisco',
 'Annapolis Junction',
 'Fort Eustis',
 'Menlo Park',
 'Monroe',
 'Aurora',
 'Paris',
 'Remote',
 'Remote',
 'Green Bay',
 'Newark',
 'Lincoln',
 '-1',
 'Portland',
 'Remote',
 'San Francisco',
 'Santa Clara',
 'San Jose',
 'Mountain View',
 'Maryland',
 'South San Francisco',
 'Denver',
 'San Francisco',
 'San Jose',
 'Saint Louis',
 'Orlando',
 'Suitland',
 'Boston',
 'United States',
 'United States',
 'Miami Beach',
 'Philadelphia',
 'Olathe',
 'Seattle',
 'Richmond',
 'Springfield',
 'Reston',
 'Falls Church',
 'Pittsburgh',
 'Duluth',
 'Phoenix',
 'Fort Meade',
 '-1',
 'Remote',
 'Pittsburgh',
 'Boston',
 'Marlborough',
 'Chantilly',
 'Libertyville',
 'Philadelphia',
 'Fairfax',
 'Mountain View',
 'Remote',
 'United States',
 'Remote',
 'Washington',
 'Little Rock',
 'Fremont',
 'Reno',
 'Phoenix',
 'Huntsville',
 '-1',
 'Portland',
 'Newark',
 'Herndon',
 'Remote',
 'Chicago',
 'Remote',
 'Boston',
 'Sartell',
 'San Antonio',
 'Smithfield',
 'Seattle',
 'Arlington',
 'Remote',
 'Reston',
 'Chesapeake',
 'Chicago',
 'Berkeley',
 'Washington',
 'Chicago',
 'San Francisco',
 'Fort Lauderdale',
 'Salt Lake City',
 'Schertz',
 'Phoenix',
 'Gainesville',
 'Remote',
 'Boston',
 'Springfield',
 'Minneapolis',
 'Reston',
 'West Chester',
 'Charlotte',
 'Crystal Lake',
 'Princeton',
 'United States',
 'Remote',
 'Milwaukee',
 'Santa Clara',
 'Conshohocken',
 'Remote',
 'Remote',
 'Brooklyn',
 'Mountain View',
 'Troy',
 'Secaucus',
 'Remote',
 'Aurora',
 'Smithfield',
 'Pasadena',
 'Remote',
 'Waltham',
 'Remote',
 'Dayton',
 'Herndon',
 'Herndon',
 'Charlotte',
 'Remote',
 'Jersey City',
 'Boston',
 'Houston',
 'Virginia',
 'New York',
 'Agoura Hills',
 'Remote',
 'Trenton',
 'Iowa City',
 'Santa Clara',
 'Conshohocken',
 'Remote',
 'Remote',
 'Brooklyn',
 'Mountain View',
 'Troy',
 'Secaucus',
 'Remote',
 'Aurora',
 'Smithfield',
 'Pasadena',
 'Remote',
 'Waltham',
 'Remote',
 'Dayton',
 'Herndon',
 'Herndon',
 'Cottonwood Heights',
 'Charlotte',
 'Remote',
 'Jersey City',
 'Boston',
 'Houston',
 'Virginia',
 'Agoura Hills',
 'Remote',
 'Trenton',
 'Iowa City',
 'Santa Clara',
 'Conshohocken',
 'Remote',
 'Brooklyn',
 'Mountain View',
 'Troy',
 'Secaucus',
 'Remote',
 'Smithfield',
 'Pasadena',
 'Remote',
 'Remote',
 'Dayton',
 'Herndon',
 'Herndon',
 'Charlotte',
 'Remote',
 'Jersey City',
 'Boston',
 'Houston',
 'Virginia',
 'New York',
 'Agoura Hills',
 'Remote',
 'Trenton',
 'Iowa City',
 'Santa Clara',
 'Conshohocken',
 'Remote',
 'Remote',
 'Brooklyn',
 'Troy',
 'Secaucus',
 'Remote',
 'Aurora',
 'Smithfield',
 'Pasadena',
 'Remote',
 'Waltham',
 'Remote',
 'Dayton',
 'Herndon',
 'Herndon',
 'Cottonwood Heights',
 'Charlotte',
 'Remote',
 'Jersey City',
 'Boston',
 'Houston',
 'Virginia',
 'New York',
 'Agoura Hills',
 'Remote',
 'Trenton',
 'Iowa City',
 'Santa Clara',
 'Conshohocken',
 'Remote',
 'Remote',
 'Brooklyn',
 'Mountain View',
 'Troy',
 'Secaucus',
 'Remote',
 'Aurora',
 'Smithfield',
 'Pasadena',
 'Remote',
 'Waltham',
 'Remote',
 'Dayton',
 'Herndon',
 'Herndon',
 'Cottonwood Heights',
 'Remote',
 'Jersey City',
 'Boston',
 'Houston',
 'Virginia',
 'Agoura Hills',
 'Remote',
 'Trenton',
 'Santa Clara',
 'Conshohocken',
 'Remote',
 'Remote',
 'Brooklyn',
 'Mountain View',
 'Troy',
 'Secaucus',
 'Remote',
 'Aurora',
 'Smithfield',
 'Remote',
 'Waltham',
 'Remote',
 'Dayton',
 'Herndon',
 'Herndon',
 'Cottonwood Heights',
 'Charlotte',
 'Remote',
 'Boston',
 'Houston',
 'Virginia',
 'New York',
 'Agoura Hills',
 'Remote',
 'Trenton',
 'Iowa City',
 'Santa Clara',
 'Conshohocken',
 ...]

In [54]:
country

['Remote',
 ' CA',
 ' GA',
 ' WA',
 ' TX',
 'Remote',
 ' TX',
 'Remote',
 ' DC',
 ' CA',
 ' AZ',
 ' NC',
 ' CA',
 ' NY',
 ' GA',
 'Not Specified',
 ' FL',
 ' NJ',
 'Remote',
 ' DC',
 ' NY',
 'Remote',
 ' MA',
 'Remote',
 'Remote',
 ' NC',
 ' CA',
 'Remote',
 'Remote',
 'Not Specified',
 ' CA',
 ' CA',
 'Remote',
 ' CA',
 'Remote',
 ' TX',
 ' NJ',
 ' UT',
 ' VA',
 ' NC',
 ' NY',
 'Not Specified',
 ' CA',
 ' VA',
 ' MD',
 ' FL',
 ' CA',
 ' OH',
 'Not Specified',
 ' NC',
 ' NY',
 ' GA',
 ' NJ',
 ' MD',
 ' IL',
 ' VA',
 ' CA',
 'Remote',
 ' PA',
 ' DC',
 'Remote',
 'Remote',
 ' CA',
 ' CA',
 ' CA',
 'Remote',
 ' PA',
 'Remote',
 'Remote',
 ' CO',
 ' VA',
 ' DE',
 ' OH',
 'Remote',
 'Remote',
 ' CO',
 ' FL',
 ' MD',
 'Remote',
 ' MA',
 ' NY',
 'Not Specified',
 ' MI',
 ' CT',
 ' MS',
 ' KY',
 ' CO',
 ' CA',
 ' NY',
 ' MO',
 ' MI',
 ' TX',
 ' CA',
 ' NY',
 ' TX',
 'Remote',
 'Not Specified',
 ' OH',
 ' DE',
 ' NM',
 'Not Specified',
 ' WI',
 'Not Specified',
 ' CA',
 'Remote',
 'Remote',
 ' NJ',
 'Remote',
 ' MI',
 ' CO',
 ' CA',
 ' NY',
 'Remote',
 ' PA',
 ' MI',
 ' VA',
 'Remote',
 ' MA',
 ' CA',
 ' TN',
 ' WA',
 ' PA',
 'Not Specified',
 'Remote',
 ' TX',
 ' IL',
 ' CA',
 ' GA',
 ' GA',
 ' IL',
 ' TX',
 ' NY',
 ' DC',
 ' MD',
 ' GA',
 ' MD',
 ' NY',
 ' CA',
 'Remote',
 ' CT',
 ' NC',
 ' CA',
 ' DE',
 ' DC',
 ' NY',
 ' PA',
 ' TX',
 ' CA',
 ' DC',
 ' AL',
 'Remote',
 ' NM',
 ' CT',
 ' LA',
 'Remote',
 'Not Specified',
 ' VA',
 ' CA',
 'Not Specified',
 ' TX',
 'Remote',
 ' PA',
 ' MD',
 ' TX',
 ' TX',
 ' NJ',
 ' CO',
 ' CA',
 'Remote',
 ' CA',
 ' WA',
 'Remote',
 ' TX',
 'Remote',
 ' NY',
 'Remote',
 'Remote',
 ' PA',
 'Remote',
 ' NJ',
 'Remote',
 ' NY',
 ' NC',
 'Remote',
 'Not Specified',
 ' CO',
 ' PA',
 ' MI',
 ' NY',
 'Remote',
 'Remote',
 'Not Specified',
 'Not Specified',
 ' GA',
 ' IL',
 'Remote',
 'Not Specified',
 ' FL',
 'Remote',
 ' FL',
 ' MD',
 ' CO',
 ' CA',
 ' IL',
 ' NY',
 ' CA',
 ' CT',
 ' NC',
 ' CA',
 ' CA',
 'Remote',
 ' CA',
 ' NJ',
 ' NY',
 ' TX',
 ' CO',
 ' MD',
 ' CA',
 ' WI',
 ' WA',
 ' UT',
 ' MA',
 ' CA',
 ' NC',
 ' NY',
 ' DC',
 'Remote',
 'Not Specified',
 ' CA',
 ' CA',
 ' CA',
 ' CT',
 ' FL',
 'Remote',
 ' CA',
 'Remote',
 ' AZ',
 ' WA',
 ' IL',
 ' WA',
 ' CA',
 ' DC',
 ' FL',
 ' TX',
 'Remote',
 'Remote',
 'Not Specified',
 'Remote',
 ' WA',
 ' MD',
 ' NY',
 ' CA',
 ' MN',
 ' CA',
 ' CA',
 'Not Specified',
 ' MA',
 ' TX',
 ' MD',
 ' CA',
 'Remote',
 'Not Specified',
 'Remote',
 ' TX',
 ' CA',
 ' VA',
 ' WA',
 ' DC',
 'Remote',
 ' MA',
 ' CT',
 ' IL',
 ' NH',
 ' NJ',
 ' TX',
 'Remote',
 ' MI',
 ' DC',
 ' UT',
 ' CA',
 ' CA',
 ' MI',
 'Remote',
 ' CT',
 ' CA',
 ' NY',
 ' ND',
 ' CA',
 ' TX',
 ' CT',
 ' WI',
 ' AZ',
 ' MN',
 'Remote',
 ' WA',
 'Not Specified',
 ' TX',
 ' IL',
 ' IN',
 ' IN',
 'Remote',
 ' NJ',
 ' CA',
 ' AZ',
 ' VA',
 ' VA',
 ' MD',
 ' NJ',
 'Remote',
 'Remote',
 ' CA',
 ' WI',
 ' VA',
 ' CA',
 'Not Specified',
 ' CA',
 ' TX',
 ' DE',
 ' LA',
 ' TX',
 'Remote',
 ' CA',
 ' AL',
 ' CA',
 'Remote',
 ' MO',
 'Not Specified',
 ' TX',
 ' CT',
 ' UT',
 'Not Specified',
 ' CO',
 ' NJ',
 'Not Specified',
 ' TX',
 ' CA',
 ' MA',
 ' CA',
 ' MA',
 ' NJ',
 ' CA',
 ' NJ',
 'Remote',
 ' CA',
 ' PA',
 ' CT',
 ' TX',
 ' CA',
 ' MA',
 ' CA',
 ' TX',
 ' IL',
 ' CA',
 'Remote',
 ' CA',
 'Not Specified',
 ' MA',
 ' CA',
 ' TX',
 ' CA',
 ' WI',
 ' WA',
 ' NC',
 ' NY',
 ' FL',
 ' CA',
 ' NY',
 ' VA',
 ' OH',
 ' CA',
 ' OH',
 'Remote',
 ' CO',
 ' CA',
 ' CA',
 ' WA',
 ' CA',
 ' IL',
 ' CA',
 ' CA',
 ' CT',
 ' MD',
 'Remote',
 'Remote',
 ' CA',
 ' VA',
 ' NY',
 ' IL',
 'Not Specified',
 'Remote',
 ' CA',
 ' CA',
 ' MN',
 ' CA',
 ' DC',
 'Remote',
 ' NC',
 'Remote',
 'Not Specified',
 'Not Specified',
 ' CO',
 ' CA',
 ' PA',
 ' CA',
 ' CA',
 ' CA',
 ' CA',
 ' MA',
 ' NY',
 ' MD',
 ' CA',
 'Not Specified',
 'Not Specified',
 ' CA',
 ' FL',
 ' NJ',
 ' CA',
 ' TX',
 ' MD',
 'Remote',
 ' IL',
 ' CA',
 'Not Specified',
 ' CA',
 'Not Specified',
 'Remote',
 ' TX',
 ' WA',
 ' CT',
 ' NC',
 'Not Specified',
 ' CA',
 ' TX',
 'Remote',
 ' MA',
 ' VA',
 ' LA',
 ' NC',
 ' NY',
 ' CA',
 'Remote',
 'Remote',
 'Remote',
 'Remote',
 'Not Specified',
 ' NY',
 'Remote',
 ' MA',
 ' CO',
 ' CA',
 ' MA',
 ' CA',
 ' MD',
 ' TX',
 ' CA',
 ' IA',
 ' OH',
 ' WA',
 ' CA',
 ' FL',
 ' VA',
 ' OR',
 ' CA',
 'Remote',
 ' VA',
 'Remote',
 'Not Specified',
 'Not Specified',
 ' DE',
 ' CA',
 ' VA',
 ' MA',
 ' CA',
 ' MO',
 ' VA',
 'Remote',
 'Remote',
 ' PA',
 ' MA',
 ' NC',
 ' IA',
 ' GA',
 ' AR',
 'Remote',
 ' CA',
 ' TX',
 'Remote',
 ' KY',
 'Not Specified',
 ' CA',
 ' TX',
 'Remote',
 ' VA',
 ' MO',
 ' MO',
 ' VA',
 ' FL',
 ' CO',
 ' WI',
 'Remote',
 ' MO',
 ' MI',
 ' CA',
 ' CA',
 'Not Specified',
 'Remote',
 'Not Specified',
 'Remote',
 ' MD',
 ' CO',
 ' MA',
 ' NC',
 'Not Specified',
 ' VA',
 ' CA',
 ' AL',
 ' WI',
 ' CA',
 ' CT',
 ' VA',
 ' CT',
 ' CA',
 ' CA',
 ' AZ',
 ' CA',
 'Remote',
 ' CA',
 ' NJ',
 'Remote',
 'Remote',
 ' TX',
 ' CA',
 ' GA',
 ' CA',
 ' MA',
 ' FL',
 ' VA',
 ' WA',
 ' NJ',
 'Remote',
 ' CO',
 ' TX',
 'Not Specified',
 ' VA',
 ' TX',
 ' TX',
 ' VA',
 ' WA',
 ' UT',
 ' CA',
 ' MD',
 ' CA',
 'Not Specified',
 ' TX',
 ' CA',
 ' CT',
 ' UT',
 ' MA',
 ' TX',
 ' CA',
 ' NY',
 ' TX',
 ' CA',
 ' WA',
 ' MI',
 'Not Specified',
 ' MA',
 ' MN',
 'Remote',
 'Not Specified',
 ' OH',
 ' NY',
 ' CA',
 ' CT',
 ' CA',
 ' MD',
 ' CA',
 'Remote',
 ' FL',
 'Remote',
 ' CA',
 'Remote',
 ' VA',
 ' MD',
 ' IL',
 ' DC',
 ' IL',
 ' MI',
 ' MD',
 'Not Specified',
 ' CA',
 ' PA',
 ' TX',
 'Remote',
 ' VA',
 'Not Specified',
 ' CA',
 ' UT',
 'Remote',
 ' IA',
 ' TX',
 ' PA',
 ' TX',
 ' IL',
 'Not Specified',
 ' MD',
 ' NE',
 ' NJ',
 ' CA',
 ' VA',
 ' CA',
 'Remote',
 ' DE',
 ' TX',
 ' VA',
 ' CT',
 ' TX',
 ' VA',
 ' TX',
 ' MD',
 ' FL',
 ' MD',
 ' MD',
 ' CA',
 ' GA',
 ' TX',
 ' MA',
 ' CA',
 ' CA',
 ' MI',
 ' IL',
 ' NY',
 ' CO',
 ' VA',
 'Remote',
 ' NJ',
 ' IL',
 ' CA',
 ' CA',
 ' MD',
 ' TX',
 'Not Specified',
 ' CO',
 'Not Specified',
 'Remote',
 ' VA',
 ' LA',
 ' DC',
 ' NY',
 ' TX',
 ' NY',
 ' IL',
 ' MA',
 ' FL',
 'Remote',
 ' CA',
 ' IL',
 ' GA',
 ' VA',
 ' FL',
 ' GA',
 ' CT',
 ' CA',
 ' VA',
 ' MO',
 'Remote',
 'Remote',
 ' TX',
 'Not Specified',
 ' TX',
 ' TX',
 'Remote',
 ' TX',
 ' VA',
 'Not Specified',
 'Remote',
 ' MA',
 ' NC',
 'Remote',
 ' CO',
 ' IL',
 ' GA',
 'Remote',
 'Remote',
 ' IL',
 ' TX',
 ' CA',
 'Not Specified',
 ' OH',
 'Not Specified',
 ' TX',
 ' CA',
 ' MD',
 ' CA',
 ' MA',
 ' CA',
 ' PA',
 'Remote',
 ' AR',
 ' VA',
 ' IL',
 ' VA',
 ' CA',
 ' NY',
 ' CA',
 ' GA',
 ' OH',
 ' CA',
 ' LA',
 ' NJ',
 ' CA',
 'Not Specified',
 ' CA',
 ' CA',
 ' MN',
 ' MD',
 ' VA',
 ' PA',
 ' WI',
 ' CA',
 ' AZ',
 ' WA',
 ' CA',
 ' UT',
 ' CA',
 ' TX',
 ' IL',
 ' NC',
 'Remote',
 ' CA',
 ' CA',
 ' CA',
 ' MD',
 ' VA',
 ' CA',
 ' OH',
 ' CO',
 ' TX',
 'Remote',
 'Remote',
 ' WI',
 ' CA',
 ' NE',
 'Not Specified',
 ' OR',
 'Remote',
 ' CA',
 ' CA',
 ' CA',
 ' CA',
 'Not Specified',
 ' CA',
 ' CO',
 ' CA',
 ' CA',
 ' MO',
 ' FL',
 ' MD',
 ' MA',
 'Not Specified',
 'Not Specified',
 ' FL',
 ' PA',
 ' KS',
 ' WA',
 ' VA',
 ' VA',
 ' VA',
 ' VA',
 ' PA',
 ' GA',
 ' AZ',
 ' MD',
 'Not Specified',
 'Remote',
 ' PA',
 ' MA',
 ' MA',
 ' VA',
 ' IL',
 ' PA',
 ' VA',
 ' CA',
 'Remote',
 'Not Specified',
 'Remote',
 ' DC',
 ' AR',
 ' CA',
 ' NV',
 ' AZ',
 ' AL',
 'Not Specified',
 ' ME',
 ' CA',
 ' VA',
 'Remote',
 ' IL',
 'Remote',
 ' MA',
 ' MN',
 ' TX',
 ' RI',
 ' WA',
 ' VA',
 'Remote',
 ' VA',
 ' VA',
 ' IL',
 ' CA',
 ' DC',
 ' IL',
 ' CA',
 ' FL',
 ' UT',
 ' TX',
 ' AZ',
 ' FL',
 'Remote',
 ' MA',
 ' VA',
 ' MN',
 ' VA',
 ' PA',
 ' NC',
 ' IL',
 ' NJ',
 'Not Specified',
 'Remote',
 ' WI',
 ' CA',
 ' PA',
 'Remote',
 'Remote',
 ' OH',
 ' CA',
 ' MI',
 ' NJ',
 'Remote',
 ' CO',
 ' RI',
 ' CA',
 'Remote',
 ' MA',
 'Remote',
 ' OH',
 ' VA',
 ' VA',
 ' NC',
 'Remote',
 ' NJ',
 ' MA',
 ' TX',
 'Not Specified',
 ' NY',
 ' CA',
 'Remote',
 ' NJ',
 ' IA',
 ' CA',
 ' PA',
 'Remote',
 'Remote',
 ' OH',
 ' CA',
 ' MI',
 ' NJ',
 'Remote',
 ' CO',
 ' RI',
 ' CA',
 'Remote',
 ' MA',
 'Remote',
 ' OH',
 ' VA',
 ' VA',
 ' UT',
 ' NC',
 'Remote',
 ' NJ',
 ' MA',
 ' TX',
 'Not Specified',
 ' CA',
 'Remote',
 ' NJ',
 ' IA',
 ' CA',
 ' PA',
 'Remote',
 ' OH',
 ' CA',
 ' MI',
 ' NJ',
 'Remote',
 ' RI',
 ' CA',
 'Remote',
 'Remote',
 ' OH',
 ' VA',
 ' VA',
 ' NC',
 'Remote',
 ' NJ',
 ' MA',
 ' TX',
 'Not Specified',
 ' NY',
 ' CA',
 'Remote',
 ' NJ',
 ' IA',
 ' CA',
 ' PA',
 'Remote',
 'Remote',
 ' OH',
 ' MI',
 ' NJ',
 'Remote',
 ' CO',
 ' RI',
 ' CA',
 'Remote',
 ' MA',
 'Remote',
 ' OH',
 ' VA',
 ' VA',
 ' UT',
 ' NC',
 'Remote',
 ' NJ',
 ' MA',
 ' TX',
 'Not Specified',
 ' NY',
 ' CA',
 'Remote',
 ' NJ',
 ' IA',
 ' CA',
 ' PA',
 'Remote',
 'Remote',
 ' OH',
 ' CA',
 ' MI',
 ' NJ',
 'Remote',
 ' CO',
 ' RI',
 ' CA',
 'Remote',
 ' MA',
 'Remote',
 ' OH',
 ' VA',
 ' VA',
 ' UT',
 'Remote',
 ' NJ',
 ' MA',
 ' TX',
 'Not Specified',
 ' CA',
 'Remote',
 ' NJ',
 ' CA',
 ' PA',
 'Remote',
 'Remote',
 ' OH',
 ' CA',
 ' MI',
 ' NJ',
 'Remote',
 ' CO',
 ' RI',
 'Remote',
 ' MA',
 'Remote',
 ' OH',
 ' VA',
 ' VA',
 ' UT',
 ' NC',
 'Remote',
 ' MA',
 ' TX',
 'Not Specified',
 ' NY',
 ' CA',
 'Remote',
 ' NJ',
 ' IA',
 ' CA',
 ' PA',
 ...]

In [55]:
df['Country'] = country
df['City'] = cities
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Location,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue (USD),Country,City
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion,Remote,Remote
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+,1982,Public,Computer Hardware Development,$5 to $10 billion,CA,San Jose
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+,1911,Public,Information Technology Support Services,$10+ billion,GA,Atlanta
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+,1975,Public,Computer Hardware Development,$10+ billion,WA,Redmond
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",3000,2000,Private,Chemical Manufacturing,$10+ billion,TX,The Woodlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,"New York, NY",10000+,1799,Public,Banking & Lending,$10+ billion,NY,New York
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,"Agoura Hills, CA",125,1994,Private,Advertising & Public Relations,$5 to $25 million,CA,Agoura Hills
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,Remote,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion,Remote,Remote
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,"Trenton, NJ",Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified,NJ,Trenton
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,"Iowa City, IA",10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion,IA,Iowa City

In [56]:
safe = df
df.drop(columns={'Location'}, inplace = True)

In [57]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue (USD),Country,City
0,Data Scientist,Not Specified,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion,Remote,Remote
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,10000+,1982,Public,Computer Hardware Development,$5 to $10 billion,CA,San Jose
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,10000+,1911,Public,Information Technology Support Services,$10+ billion,GA,Atlanta
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,10000+,1975,Public,Computer Hardware Development,$10+ billion,WA,Redmond
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,3000,2000,Private,Chemical Manufacturing,$10+ billion,TX,The Woodlands
...,...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,10000+,1799,Public,Banking & Lending,$10+ billion,NY,New York
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,125,1994,Private,Advertising & Public Relations,$5 to $25 million,CA,Agoura Hills
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion,Remote,Remote
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Not Specified,S4 Market Data,Not Specified,Not Specified,Private,Information Technology Support Services,Not Specified,NJ,Trenton
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion,IA,Iowa City

In [58]:
df.replace('Not Specified', 'Unknown', inplace=True)

In [59]:
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue (USD),Country,City
0,Data Scientist,Unknown,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion,Remote,Remote
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,10000+,1982,Public,Computer Hardware Development,$5 to $10 billion,CA,San Jose
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,10000+,1911,Public,Information Technology Support Services,$10+ billion,GA,Atlanta
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,10000+,1975,Public,Computer Hardware Development,$10+ billion,WA,Redmond
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,3000,2000,Private,Chemical Manufacturing,$10+ billion,TX,The Woodlands
...,...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,10000+,1799,Public,Banking & Lending,$10+ billion,NY,New York
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,125,1994,Private,Advertising & Public Relations,$5 to $25 million,CA,Agoura Hills
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion,Remote,Remote
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Unknown,S4 Market Data,Unknown,Unknown,Private,Information Technology Support Services,Unknown,NJ,Trenton
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion,IA,Iowa City

# Verifying if Title matches Description

In [60]:
df['Title'].value_counts()

Title
Data Scientist                          431
Senior Data Scientist                   111
Sr. Data Scientist                       50
DATA SCIENTIST                           45
Data Engineer                            26
                                       ...
Staff Data Scientist - Search             1
Staff Data Scientist - Deep Learning      1
Data Engineer - AI/ML                     1
Principal Data Scientist, Applied AI      1
Data Scientist - Hybrid Opportunity       1
Name: count, Length: 374, dtype: int64

In [64]:
verification = []

for titleEntry, descriptionEntry in zip(df['Title'], df['Description']):
    if (('data scientist' in titleEntry.lower() and 'data scientist' in descriptionEntry.lower()) or
        ('data analysis' in titleEntry.lower() and 'data analysis' in descriptionEntry.lower()) or
        ('data science' in titleEntry.lower() and 'data science' in descriptionEntry.lower()) or
        ('data analyst' in titleEntry.lower() and 'data analyst' in descriptionEntry.lower()) or
        ('data analytics' in titleEntry.lower() and 'data analytics' in descriptionEntry.lower()) or
        ('data engineer' in titleEntry.lower() and 'data engineer' in descriptionEntry.lower())):
        verification.append('No')
    else:
        verification.append('Yes')

In [65]:
verification

['No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 ...]

In [66]:
df['Verification Warning'] = verification
df

,Title,Approximate Annual Salary ($ USD),Description,Company Rating,Company Name,Approximate no. of Employees,Founded,Ownership Type,Industry,Company Revenue (USD),Country,City,Verification Warning
0,Data Scientist,Unknown,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,3000,2004,Private,Primary & Secondary Schools,$500 million to $1 billion,Remote,Remote,No
1,2024 University Graduate - Data Scientist,118000,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,10000+,1982,Public,Computer Hardware Development,$5 to $10 billion,CA,San Jose,No
2,Data Scientist – Entry Level 2024,102000,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,10000+,1911,Public,Information Technology Support Services,$10+ billion,GA,Atlanta,No
3,Data Scientist 2,138500,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,10000+,1975,Public,Computer Hardware Development,$10+ billion,WA,Redmond,No
4,Entry Level Data Scientist 2023/2024,63000,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,3000,2000,Private,Chemical Manufacturing,$10+ billion,TX,The Woodlands,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,Global Technology Transformation Analytics Vic...,159000,JOB DESCRIPTION\n\nThe Global Technology Trans...,4.0,JPMorgan Chase & Co\n4.0,10000+,1799,Public,Banking & Lending,$10+ billion,NY,New York,Yes
1389,Senior Data Scientist,145000,Job Summary:\nWe are seeking a talented and ex...,4.3,Cydcor\n4.3,125,1994,Private,Advertising & Public Relations,$5 to $25 million,CA,Agoura Hills,No
1390,Remote - Data Scientist,99500,"We’re looking for talented professionals, anyw...",3.0,Green Dot Corporation\n3.1,3000,1999,Public,Financial Transaction Processing,$1 to $5 billion,Remote,Remote,Yes
1391,Market Data Analyst,65000,Summary:\n**PLEASE NOTE - This is NOT a techni...,Unknown,S4 Market Data,Unknown,Unknown,Private,Information Technology Support Services,Unknown,NJ,Trenton,No
1392,Data Scientist,113000,The University of Iowa is seeking a Data Scien...,3.9,The University of Iowa\n3.9,10000+,1898,Hospital,Health Care Services & Hospitals,$1 to $5 billion,IA,Iowa City,No